@charset "utf-8"
body{
background-color:#FFFFFF;
color:#000;
}
a:link{
text-decoration:none;
color:#999999;
}
a:visited{
background-color:transparent;
color:#666666;
text-decoration:none;
}
a:hover{
text-decoration:underline;
}
div.adminmenu{
text-align:right;
font-size:small;
}
span.adminmenu{
background-color:#FFFFFF;
color:#000;
border-style:solid;
border-color:#FFFFFF #CCCCCC #FFFFFF #CCCCCC;
border-width:2px;
padding:2px;
}
h1{
text-align:right;
background-color:#fff;
color:#000000;
}
div.calendar{
background-color:#fff;
color:#666699;
border-style:solid;
border-color:#CCCCCC;
border-width:2px;
padding:2px;
margin-top:0.5em;
margin-bottom:0.5em;
line-height:1.1em;
font-size:small;
}
div.calendar div.year{
}
div.day{
background-color:transparent;
color:#000;
margin-top:1em;
margin-bottom:1em;
}
h2{
position:relative;
background-color:transparent;
text-align:center;
background-color:transparent;
background-position:top left;
background-image:url("arrow_title.png");
background-repeat:no-repeat;
height:100px;
display:block;
margin:0.5em 0em 0.5em 40%;
}
h2 span.date{
position:relative;
font-size:large;
text-align:left;
color:#FFFFFF;
right:0px;
padding-top:20px;
padding-left:2em;
margin-top:0em;
display:block;
}
h2 span.date a{
color:#FFFFFF;
}
h2 span.title{
position:absolute;
font-size:large;
text-align:right;
height:40px;
top:42px;
left:-67%;
width:100%;
color:#FFFFFF;
background-color:transparent;
background-position:top right;
background-image:url("arrow_date.png");
background-repeat:no-repeat;
display:block;
padding:20px 2em 0px 0px;
}
div.body{
color:#000;
background-color:#EEEEFF;
margin-left:1em;
margin-right:1em;
}
div.section{
margin-top:0.5em;
margin-bottom:1em;
}
h3{
font-size:medium;
margin:0em;
font-weight:bold;
}
div.section p{
margin:0.5em 1em 0.7em 3em;
line-height:1.5;
}
div.caption{
font-size:small;
border-style:solid;
border-color:#CCCCCC;
border-width:0px 0px 1px 0px;
margin:0.5em;
}
div.comment{
background-color:#fff;
color:#000;
border-style:solid;
border-color:#CCCCCC;
border-width:1px;
padding:2px;
padding-bottom:1px;
margin-top:0.5em;
margin-left:1em;
margin-right:1em;
}
div.commentshort{
font-size:x-small;
margin-left:0.5em;
}
span.commentator{
font-weight:bold;
}
div.commentshort p{
margin-top:0.2em;
margin-bottom:0.2em;
line-height:1.2em;
}
div.commentbody{
font-size:small;
margin:0.5em;
line-height:1.2em;
}
div.commentator{
border-style:solid;
border-color:#CCCCCC;
border-width:0px 0px 1px 0px;
line-height:1.5em;
}
div.commentbody p{
margin:0.5em;
margin-left:2em;
}
div.form{
background-color:#fff;
color:#000;
border-style:solid;
border-color:#CCCCCC;
border-width:1px;
padding:2px;
margin:0.5em 1em 0.5em 1em;
}
div.form form{
margin:0em 0em 0em 2em;
}
div.form form.comment{
font-size:small;
}
div.field{
display:inline;
margin-right:2em;
}
form.comment input{
background-color:#ffffff;
color:#000;
margin-left:1em;
}
div.textarea{
display:block;
vertical-align:top;
}
form.comment textarea{
display:block;
background-color:#ffffff;
color:#000;
margin-left:3em;
width:30em;
height:5em;
}
div.button{
display:block;
margin-left:3em;
}
div.referer{
text-align:right;
font-size:small;
background-color:transparent;
color:#000000;
margin:0.5em 1em 0em 0em;
margin:0.5em 1em 0.5em 1em;
}
div.refererlist{
background-color:transparent;
color:#000;
margin:0.5em 1em 0em 0em;
margin:0.5em 1em 0.5em 1em;
}
div.refererlist ul{
font-size:small;
margin:0.5em 1em 0.5em 3em;
line-height:1.2em;
}
hr{
border-style:solid;
border-width:2px 0px 0px 0px;
border-color:#ddf;
}
hr.sep{
display:none;
}
div.footer{
font-size:small;
text-align:right;
margin-top:0px;
}
form.update{
padding-top:0.5em;
padding-bottom:0.5em;
}
form.update input,form.update textarea,form.commentstat input{
background-color:#ffffff;
color:#000;
}
form.update span.field{
display:inline;
margin-left:0em;
margin-right:0.5em;
}
form.update div.field.title{
display:block;
margin-top:1em;
}
form.update div.field.title input{
margin-left:0.5em;
}
form.update div.textarea{
display:block;
margin-top:1em;
}
form.update textarea{
display:block;
margin-left:3em;
margin-bottom:1em;
width:35em;
height:15em;
}
form.update span.checkbox.hidediary{
margin-left:1em;
}
div.comment form{
margin-top:0em;
}
p.message{
text-align:center;
font-size:large;
background-color:#d00;
color:#fff;
padding:8px;
}
pre{
background-color:#ffe;
color:#000;
margin-left:5em;
margin-right:1em;
padding:8px 8px 8px 8px;
}
div.body blockquote{
border-style:solid;
border-color:#CCCCCC;
border-width:2px 2px 2px 2px;
margin-left:5em;
margin-right:3em;
padding:4px 4px 4px 4px;
}
div.body blockquote p{
margin:0.5em 0em 0.5em 0em;
}
div.body ul,div.body ol{
margin-left:6em;
margin-right:3em;
}
div.body dl{
margin-left:5em;
}
div.body dt{
margin-bottom:0.2em;
font-weight:bold;
}
div.body dd{
margin:0em 3em 0.5em 1em;
}
table.calendar{
font-size:x-small;
line-height:1.1em;
margin:2px auto;
}
table.calendar td.calendar-day{
margin:0px;
text-align:right;
padding:0px;
margin:0px;
color:#666699;
}
div.calendar3{
text-align:center;
font-size:x-small;
line-height:1.1em;
margin:2px auto;
}
.calendar-prev-month{
text-align:left;
background-color:transparent;
background-position:center left;
background-image:url("arrow_title.png");
background-repeat:no-repeat;
}
.calendar-current-month{
text-align:center;
border-style:dotted;
border-color:#CCCCCC;
border-width:1px;
}
.calendar-next-month{
text-align:right;
background-color:transparent;
background-position:center right;
background-image:url("arrow_date.png");
background-repeat:no-repeat;
}
.calendar-popup{
display:none;
position:absolute;
padding:0px 1px;
}
.calendar-todo{
text-decoration:underline;
}
.calendar-normal{
color:#666699;
}
.calendar-weekday{
color:#cccccc;
}
.calendar-saturday{
color:#CCCCFF;
}
.calendar-sunday{
color:#FFCCCC;
}
p.recentitem{
font-size:small;
margin-top:0px;
margin-bottom:0px;
}
div.recentsubtitles{
font-size:small;
margin-top:0px;
margin-bottom:1em;
margin-left:1em;
}
div.body span.footnote{
vertical-align:super;
font-size:small;
}
div.footnote{
font-size:small;
border-style:solid;
border-color:#ddf;
border-width:1px 0px 0px 0px;
padding:0em;
margin-left:6em;
}
p.footnote{
margin:0.5em;
padding:0em;
}
img.left{
border-width:1px;
border-color:#008;
float:left;
margin:0.5em;
}
img.right{
border-width:1px;
border-color:#008;
float:right;
margin:0.5em;
}
div.section,div.comment{
clear:both;
}
div.main{
float:right;
width:79%;
}
div.sidebar{
background-color:#FFFFFF;
color:#666699;
float:left;
width:20%;
padding:2px 2px 100% 2px;
padding-top:0.5em;
border-style:double;
border-color:#CCCCCC;
border-width:0px 2px 0px 0px;
}
div.sidebar p{
line-height:120%;
text-align:center;
border-style:solid;
border-color:#666699;
border-width:0px 0px 1px 0px;
margin:2px 4px 2px 4px;
}
