@charset "euc-jp"
a:link{
text-decoration:none;
color:#EE89AC;
}
a:visited{
text-decoration:none;
color:#EE89AC;
}
a:active{
text-decoration:none;
}
a:hover,a:focus{
color:#FF00C8;
}
body{
background-image:url(pinkgrad_back.png);
background-position:center;
background-repeat:repeat-y;
background-color:#FFF0F5;
color:black;
margin:0em;
}
strong{
font-weight:bold;
}
div.adminmenu{
text-align:right;
font-size:small;
}
p.message{
text-align:center;
font-size:medium;
background-color:white;
width:66%;
color:#f00;
padding:8px;
}
span.adminmenu{
background-color:transparent;
border-style:solid;
border-color:#eee #aaa #aaa #eee;
border-width:1px;
padding:3px;
}
h1{
text-align:center;
}
div.calendar{
background-color:transparent;
border-style:none;
padding-top:0.5em;
}
div.calendar div.year{
}
div.day{
background-color:white;
background-image:url(pink_backday.png);
background-position:center;
background-repeat:repeat-y;
color:black;
text-align:left;
padding:0em;
margin:2em;
margin-top:0.5em;
}
h2{
margin-top:0em;
margin-bottom:0em;
margin-right:12px;
padding:0em;
text-align:right;
font-size:medium;
}
h2 span.date{
margin-left:0.5em;
}
h2 span.date{
color:#FF00C8;
}
div.body{
background-color:transparent;
text-align:left;
padding:1em;
margin:0em;
}
div.section{
background-color:transparent;
text-align:left;
padding:0em;
margin:0em;
}
div.section p{
margin:0.3em 0.5em 2em 0.5em;
line-height:1.4;
padding-left:2em;
}
h3{
padding:0em;
font-weight:bold;
margin-bottom:0.5em;
margin-top:0.7em;
}
pre{
background-position:center;
background-repeat:repeat-y;
background-color:white;
color:#000;
font-weight:bold;
margin-left:2em;
margin-right:1em;
padding:8px;
}
div.comment{
background-color:transparent;
text-align:left;
padding-left:2em;
}
div.comment div.caption{
text-align:left;
}
div.refererlist div.caption{
border-style:solid;
border-color:#aaa;
border-width:0px 0px 1px 0px;
}
div.referer{
background-color:transparent;
text-align:right;
font-size:small;
padding:0em;
margin:0em;
margin-right:12px;
}
div.refererlist{
font-size:small;
text-align:left;
background-color:transparent;
padding:0em;
padding-left:32px;
border-width:0px;
width:80%;
margin-top:0em;
clear:both;
}
div.refererlist ul{
font-size:90%;
margin:0.5em 1em 0.5em 3em;
line-height:1.3em;
}
hr{
border-style:solid;
border-width:2px 0px 0px 0px;
border-color:#ddd;
}
hr.sep{
display:none;
}
div.footer{
font-size:small;
text-align:right;
}
div.body dl{
margin-left:2em;
}
div.body dt{
margin-bottom:0.2em;
font-weight:bold;
}
div.body dd{
margin-left:1em;
margin-bottom:0.5em;
}
form.search{
text-align:right;
margin:0em;
}
div.body blockquote{
border-width:2px;
border-style:solid;
border-color:#FF1493;
margin:1em 2em;
padding:0.5em;
}
p.source{
margin-top:0em;
margin-right:1.5em;
text-align:right;
font-size:90%;
}
table.calendar{
font-size:x-small;
line-height:1.1em;
margin:2px auto;
}
table.calendar td{
text-align:right;
}
table.calendar td.calendar-prev-month,table.calendar td.calendar-current-month,table.calendar td.calendar-next-month{
text-align:center;
}
p.recentitem{
font-size:x-small;
margin-top:0px;
margin-bottom:0px;
border-bottom:dashed 1px #fff;
}
div.recentsubtitles{
font-size:x-small;
margin-top:0px;
margin-bottom:1em;
margin-left:0.5em;
padding-bottom:0px;
}
div.body span.footnote{
vertical-align:super;
font-size:xx-small;
}
div.body div.footnote{
border-style:solid;
border-color:#ddd;
border-width:1px 0px 0px 0px;
font-size:small;
}
div.day span.sanchor{
background-image:url(pinkgrad_anchor.png);
background-position:bottom right;
background-repeat:no-repeat;
padding:25px 25px 0px 0px;
color:#FFF0F5;
background-color:transparent;
font-size:1px;
}
div.commentshort{
font-size:90%;
margin-left:0.5em;
}
span.commentator{
font-weight:bold;
}
div.commentshort p{
margin-top:0.2em;
margin-bottom:0.2em;
line-height:1.2em;
}
div.commentbody{
font-size:90%;
margin:0.5em;
line-height:1.2em;
}
div.commentator{
line-height:1.5em;
}
div.commentbody p{
margin:0.5em;
margin-left:2em;
}
div.form form{
margin:0em 0em 0em 2em;
text-align:left;
}
div.form div.caption{
font-size:90%;
margin:0.5em;
text-align:left;
}
div.form form.comment{
font-size:90%;
}
div.field{
display:inline;
margin-right:2em;
}
form.comment input{
margin-left:1em;
}
div.textarea{
display:block;
vertical-align:top;
}
form.comment textarea{
display:block;
background-color:white;
color:black;
margin-left:3em;
width:30em;
height:5em;
}
div.button{
display:block;
}
form.update{
padding-top:0.5em;
padding-bottom:0.5em;
}
form.update input,form.update textarea,form.commentstat input{
background-color:white;
color:black;
}
form.update span.field{
display:inline;
margin-left:0em;
margin-right:0.5em;
}
form.update div.field.title{
display:block;
margin-top:1em;
}
form.update div.field.title input{
margin-left:0.5em;
}
form.update div.textarea{
display:block;
margin-top:1em;
}
form.update textarea{
display:block;
margin-left:3em;
margin-bottom:1em;
width:35em;
height:15em;
}
form.update span.checkbox.hidediary{
margin-left:1em;
}
div.comment form{
margin-top:0em;
}
