@charset "utf-8"
body{
background-color:#FFF5EE;
border-color:#DB7093;
border-style:solid;
border-width:1px 1px 1px 25px;
padding:0px;
padding-bottom:1px;
margin-left:0em;
margin-right:1em;
}
a:link,a:visited{
background-color:transparent;
color:#B22222;
text-decoration:none;
border-style:none;
border-width:1px;
}
a:active{
text-decoration:underline;
border-width:1px;
}
a:hover,a:focus{
text-decoration:underline;
color:#B22222;
background-color:#FFC0CB;
border-style:none;
border-width:1px;
}
div.adminmenu{
text-align:right;
font-size:small;
}
span.adminmenu{
background-color:#ddd;
border-style:solid;
border-color:#eee #aaa #aaa #eee;
border-width:1px;
padding:3px;
}
h1{
text-align:center;
}
div.calendar{
background-color:#FFF5EE;
text-align:right;
border-style:solid;
border-color:#FFC0CB;
border-width:1px 1px 1px 25px;
padding:2px;
margin-right:1em;
margin-bottom:0.5em;
}
div.day{
background-color:#FFF;
color:black;
border-style:solid;
border-color:#FFC0CB;
border-width:0px 0px 0px 25px;
margin-left:0;
margin-right:1em;
margin-bottom:0;
}
h2{
background-color:#FFF5EE;
color:#C71585;
margin-top:0.1em;
margin-bottom:0em;
border-color:#FFE4E1;
border-style:solid;
border-width:25px 0px 0px 25px;
padding:0.5em;
margin-top:0;
margin-left:0em;
margin-right:0;
}
div.section{
background-color:#FFF5EE;
margin-left:2em;
margin-right:2em;
}
div.section p{
text-indent:1em;
margin-left:1em;
margin-bottom:1em;
line-height:1.4;
}
h2 span.date{
margin-left:0.5em;
}
h2 span.title{
font-size:small;
}
div.body{
background-color:#FFF5EE;
border-color:#FFE4E1;
border-style:solid;
border-width:1px 1px 1px 25px;
padding:2px;
padding-bottom:1px;
margin-left:0em;
margin-right:0;
}
h3{
font-size:medium;
margin:0em;
padding:0.5em;
font-weight:bold;
}
div.section p{
margin-top:0.5em;
margin-bottom:0.7em;
line-height:1.3;
}
div.comment{
background-color:#FFF5EE;
border-color:#FFE4E1;
border-style:solid;
border-width:1px 1px 1px 25px;
font-size:small;
padding:1em 2px 1px 3em;
margin:0em;
}
div.comment p{
}
div.comment div.caption{
border-style:solid;
border-color:#aaa;
border-width:0px 0px 1px 0px;
}
div.referer{
background-color:#FFF5EE;
border-color:#FFE4E1;
border-style:solid;
border-width:1px 1px 1px 25px;
padding-top:1em;
padding-bottom:1em;
padding-left:3em;
margin-top:0;
margin-bottom:0;
margin-left:0;
margin-right:0;
}
div.refererlist{
font-size:small;
background-color:#FFF5EE;
border-color:#FFE4E1;
border-style:solid;
border-width:1px 1px 1px 25px;
padding:2px;
margin-left:0em;
margin-bottom:0;
}
div.refererlist div.caption{
border-style:solid;
border-color:#aaa;
border-width:0px 0px 1px 0px;
}
div.refererlist ul{
margin-top:0em;
}
hr{
border-style:solid;
border-width:2px 0px 0px 0px;
border-color:#ddd;
}
hr.sep{
display:none;
}
div.footer{
font-size:small;
text-align:right;
margin-top:0px;
}
div.form{
font-size:small;
background-color:#FFF5EE;
border-color:#FFE4E1;
border-style:solid;
border-width:1px 1px 1px 25px;
padding:2px;
margin-left:0em;
margin-bottom:0;
}
input.field{
background-color:white;
}
textarea{
background-color:white;
margin-left:1em;
width:30em;
}
p.message{
text-align:center;
font-size:large;
background-color:red;
color:white;
padding:8px;
}
pre{
background-color:#FFFAF0;
color:#000;
border-color:#DB7093;
border-style:solid;
border-width:1px 1px 1px 5px;
margin-left:2em;
margin-right:1em;
padding:8px 8px 8px 8px;
}
div.body dl{
margin-left:2em;
}
div.body dt{
margin-bottom:0.2em;
font-weight:bold;
}
div.body dd{
margin-left:1em;
margin-bottom:0.5em;
}
img{
border-style:none;
}
table.calendar{
text-align:center;
color:#000000;
background-color:#FFF5EE;
border-style:solid;
border-color:#DB7093;
border-width:1px;
margin-bottom:1em;
}
td.calendar-current-month{
font-size:xx-small;
text-align:center;
}
td.calendar-next-month{
font-size:xx-small;
text-align:right;
}
td.calendar-prev-month{
font-size:xx-small;
text-align:left;
}
td.calendar-sunday{
color:red;
background-color:#fbb;
font-size:xx-small;
text-align:center;
}
td.calendar-saturday{
color:blue;
background-color:#bbf;
font-size:xx-small;
text-align:center;
}
td.calendar-weekday{
color:#000000;
background-color:#ddd;
font-size:xx-small;
text-align:center;
}
td.calendar-day{
font-size:xx-small;
text-align:right;
}
span.footnote{
font-size:x-small;
vertical-align:super;
}
div.footnote{
background-color:#FFE4E1;
padding:5px;
padding-bottom:1px;
margin-top:1em;
margin-left:36px;
margin-right:24px;
}
p.footnote{
font-size:90%;
padding-bottom:5px;
}
div.commentshort{
margin-left:0.5em;
}
span.commentator{
}
div.commentshort p{
margin-top:0.2em;
margin-bottom:0.2em;
line-height:1.2em;
}
div.commentbody{
margin:0.5em;
line-height:1.2em;
}
div.commentator{
border-style:solid;
border-color:#aaa;
border-width:0px 0px 1px 0px;
line-height:1.5em;
display:inline;
}
div.commentbody p{
margin:0.5em;
}
div.form form{
margin:0em;
}
div.form div.caption{
border-style:solid;
border-color:#aaa;
border-width:0px 0px 1px 0px;
margin:0.5em;
}
div.form form.comment{
}
div.field{
display:inline;
margin-right:2em;
}
form.comment input{
background-color:white;
margin-left:1em;
}
div.textarea{
display:block;
vertical-align:top;
}
form.comment textarea{
display:block;
background-color:white;
width:30em;
height:5em;
}
div.button{
display:block;
}
form.update{
padding-top:0.5em;
padding-bottom:0.5em;
}
form.update input,form.update textarea,form.commentstat input{
background-color:white;
}
form.update span.field{
display:inline;
margin-left:0em;
margin-right:0.5em;
}
form.update div.field.title{
display:block;
margin-top:1em;
}
form.update div.field.title input{
margin-left:0.5em;
}
form.update div.textarea{
display:block;
margin-top:1em;
}
form.update textarea{
display:block;
margin-bottom:1em;
width:35em;
height:15em;
}
form.update span.checkbox.hidediary{
margin-left:1em;
}
div.comment form{
margin-top:0em;
}
