@charset "utf-8"
body{
background-image:url(stripe_back.gif);
font-size:100%;
color:#000;
margin:0em 3em 0em 3em;
padding:1em;
border-style:none solid none solid;
border-color:transparent #C9E9FD transparent #C9E9FD;
border-width:30px;
}
a:link{
text-decoration:none;
color:#400040;
}
a:visited{
text-decoration:none;
color:#6C6CB7;
}
a:hover,a:active{
text-decoration:none;
color:#555555;
font-weight:bold;
}
div.adminmenu{
text-align:right;
}
p.message{
text-align:center;
background-color:#ff0000;
color:#fff;
padding:8px;
}
span.adminmenu{
background-color:transparent;
padding:1px;
font-size:90%;
margin-right:1em;
}
h1{
text-align:left;
font-size:130%;
}
div.calendar{
font-size:90%;
text-align:left;
margin-left:0em;
padding:2px;
border-style:none;
border-color:#fff;
border-width:0px 0px 4px 0px;
}
div.day{
color:#000;
margin:3em auto 3em auto;
text-align:left;
clear:both;
width:90%;
border-style:dashed;
border-color:#fff;
border-width:4px;
padding:0px 8px 0px 8px;
background-image:url(stripe.png);
}
h2{
text-align:left;
margin-top:0.5em;
margin-bottom:0em;
margin-left:auto;
margin-right:0px;
font-size:100%;
font-weight:bold;
}
h2 span.date{
font-weight:bold;
font-size:100%;
text-align:right;
margin-top:1em;
}
h2 span.title{
font-size:100%;
}
div.body{
clear:both;
text-align:left;
padding-bottom:1px;
margin:auto 5px;
border-style:dashed;
border-color:#5A66FD;
border-width:4px 0px 0px 0px;
}
p.body{
margin-top:0em;
margin-bottom:0em;
line-height:1.2;
padding-left:1em;
padding-top:0em;
}
div.section p{
margin-top:0.5em;
margin-bottom:0.7em;
line-height:1.3;
}
h3{
margin-top:0.2em;
margin-bottom:0em;
margin-left:2px;
margin-right:2px;
font-weight:bold;
font-size:100%;
clear:both;
}
pre{
background-color:#EFEFEF;
border-style:solid;
border-color:#EFEFEF;
margin-left:1em;
margin-right:1em;
padding:5px 5px 5px 5px;
}
div.comment{
font-size:90%;
clear:both;
padding-bottom:1px;
margin:auto 5px;
border-style:dashed;
border-color:#5A66FD;
border-width:4px 0px 0px 0px;
}
div.comment div.caption{
text-align:right;
position:relative;
font-size:90%;
color:#555555;
display:inline;
margin-bottom:0px;
padding-bottom:0px;
border-style:none;
}
p.comment{
font-size:90%;
color:#555555;
padding:0px 0px 0px 0px;
margin-left:24px;
margin-right:12px;
margin-top:0px;
}
div.refererlist div.caption{
text-align:right;
display:inline;
position:relative;
border-style:none;
border-color:#D9E5FD;
border-width:4px 4px 4px 4px;
padding:2px;
}
div.referer{
display:inline;
color:#5A66FD;
font-size:90%;
padding:2px;
border-style:none;
border-color:#D9E5FD;
border-width:0px;
}
div.refererlist{
font-size:90%;
text-align:right;
padding-bottom:1px;
margin-top:0.2em;
border-style:dashed;
border-color:blue;
border-width:4px 0px 0px 0px;
}
div.refererlist ul{
margin-top:0em;
text-align:left;
}
hr{
border-style:dotted;
border-width:2px 0px 0px 0px;
border-color:#ddd;
}
hr.sep{
display:none;
}
div.footer{
text-align:right;
margin-top:0px;
clear:both;
}
div.form{
color:#000;
margin-bottom:0.5em;
width:90%;
}
input.field{
background-color:transparent;
color:#EDC4C15;
border-color:#000;
border-style:solid;
border-width:1px;
}
input,select,option{
background-color:transparent;
color:#EDC4C15;
border-color:#000;
border-style:solid;
border-width:1px;
clear:both;
}
textarea{
background-color:transparent;
color:#EDC4C15;
border-color:#000;
border-style:solid;
width:90%;
border-width:1px;
}
div.body dl{
margin-left:2em;
}
div.body dt{
margin-bottom:0.2em;
font-weight:bold;
}
div.body dd{
margin-left:1em;
margin-bottom:0.5em;
}
div.commentshort{
margin-left:0.5em;
}
span.commentator{
font-weight:bold;
}
div.commentshort p{
margin-top:0.2em;
margin-bottom:0.2em;
line-height:1.2em;
}
div.commentbody{
margin:0.5em;
line-height:1.2em;
}
div.commentator{
line-height:1.5em;
}
div.commentbody p{
margin:0.5em;
}
div.form form{
margin:0em;
}
div.form div.caption{
margin:0.5em;
}
div.form form.comment{
}
div.field{
display:inline;
margin-right:2em;
}
form.comment input{
background-color:transparent;
color:#EDC4C15;
}
div.textarea{
display:block;
vertical-align:top;
}
form.comment textarea{
display:block;
background-color:transparent;
color:#EDC4C15;
width:30em;
height:5em;
}
div.button{
display:block;
}
div.day.update{
padding:0em;
}
div.day.update div.form{
}
form.update{
padding-top:0.5em;
padding-bottom:0.5em;
}
form.update div{
}
form.update input,form.update textarea,form.commentstat input{
background-color:transparent;
color:#EDC4C15;
}
form.update span.field{
display:inline;
margin-left:0em;
margin-right:0.5em;
}
form.update div.field.title{
display:block;
margin-top:1em;
}
form.update div.field.title input{
margin-left:0.5em;
}
form.update div.textarea{
display:block;
margin-top:1em;
}
form.update textarea{
display:block;
margin-bottom:1em;
width:30em;
height:15em;
}
form.update span.checkbox.hidediary{
margin-left:1em;
}
div.comment form{
margin-top:0em;
}
table.calendar{
font-size:90%;
line-height:1.1em;
}
table.calendar td{
margin:0px;
text-align:right;
padding:0px;
margin:0px;
}
table.calendar td.calendar-prev-month,table.calendar td.calendar-current-month,table.calendar td.calendar-next-month{
text-align:center;
}
p.recentitem{
font-size:90%;
margin-top:0px;
margin-bottom:0px;
text-align:left;
}
div.recentsubtitles{
font-size:90%;
margin-top:0px;
margin-bottom:1em;
margin-left:1em;
text-align:left;
}
div.body span.footnote{
vertical-align:super;
font-size:70%;
}
div.footnote{
font-size:90%;
padding:0em;
margin-left:6em;
}
p.footnote{
margin:0.5em;
padding:0em;
}
