@charset "euc-jp"
a:link{
text-decoration:none;
color:#804040;
font-weight:bold;
}
a:visited{
text-decoration:none;
color:#804040;
font-weight:bold;
}
a:active{
text-decoration:none;
color:#9999FF;
}
a:hover,a:focus{
color:#fff;
}
body{
background-image:url(moo.gif);
background-color:#000;
color:#804040;
margin-left:0em;
margin-right:0em;
}
div.adminmenu{
text-align:right;
font-size:small;
float:right;
}
p.message{
text-align:center;
font-size:medium;
background-color:#fff;
width:66%;
color:#888;
padding:8px;
}
span.adminmenu{
background-color:#000;
border-style:solid;
border-color:#fff;
border-width:1px;
padding:3px;
}
h1{
text-align:center;
color:#804040;
}
div.calendar{
background-color:#000;
border-style:solid;
border-color:#fff;
border-width:1px;
text-align:left;
}
span.calendar{
padding:3px;
}
div.day{
background-color:#000;
text-align:left;
color:#fff;
padding:0.5em;
padding-bottom:0em;
padding-top:0em;
margin-bottom:2em;
border-style:solid;
border-color:#fff;
border-width:3px 3px 3px 3px;
margin-right:10%;
margin-left:10%;
}
h2{
margin-top:0.1em;
margin-bottom:0.1em;
margin-right:12px;
padding:0em;
text-align:right;
font-size:120%;
}
h2 span.date{
font-size:100%;
margin-left:0.5em;
}
h2 span.date a{
color:#a62;
}
h2 span.date a:link{
color:#ffa500;
text-decoration:none;
}
h2 span.date a:hover,span.date a:focus{
color:#4e8;
text-decoration:none;
}
h2 span.title{
font-size:100%;
}
div.body{
background-color:transparent;
text-align:left;
padding:0.1em;
margin-left:auto;
font-size:100%;
}
div.section p{
margin:0em;
line-height:1.4em;
margin-left:1em;
}
h3{
margin:0.5em;
padding:0em;
font-weight:bold;
font-size:120%;
margin-bottom:0.3em;
}
pre{
background-color:orange;
color:#fff;
margin-left:1em;
margin-right:1em;
padding:5px;
}
div.comment{
font-size:90%;
text-align:left;
background-color:transparent;
padding:2px;
padding-bottom:1px;
margin:0.2em;
margin-right:auto;
margin-left:2px;
border-style:solid;
border-color:#999;
border-width:1px 0px 0px 0px;
}
div.comment p{
padding-left:0em;
}
div.comment div.caption{
text-align:left;
}
div.refererlist div.caption{
border-style:solid;
border-color:#aaa;
border-width:0px 0px 1px 0px;
font-size:90%;
}
div.referer{
text-align:left;
font-size:90%;
color:#fff;
background-color:transparent;
padding:2px;
padding-bottom:1px;
margin-right:12px;
}
div.defererlist{
font-size:90%;
text-align:left;
background-color:transparent;
padding:2px;
padding-bottom:1px;
width:70%;
margin-top:0.5em;
clear:both;
}
div.refererlist ul{
margin-top:0em;
}
hr{
border-style:solid;
border-width:2px 0px 0px 0px;
border-color:#000;
}
hr.sep{
display:none;
}
div.footer{
font-size:90%;
text-align:right;
color:#804040;
}
div.form{
background-color:#000;
padding:0.5em 1em 0.5em 1em;
color:#fff;
margin-bottom:0.5em;
border-style:solid;
border-color:#fff;
border-width:3px 3px 3px 3px;
}
div.form form{
}
input.field,texterea{
background-color:white;
color:#000;
}
input{
clear:left;
}
textarea{
background-color:white;
margin-left:1em;
color:#000;
}
div.body dl{
margin-left:2em;
}
div.body dt{
margin-bottom:0.2em;
font-weight:bold;
}
div.body dd{
margin-left:1em;
margin-bottom:0.5em;
}
p.strong{
font-size:200%;
font-weight:bold;
text-align:center;
color:#FF8000;
}
div.commentshort{
font-size:90%;
margin-left:0.5em;
}
span.commentator{
font-weight:bold;
}
div.commentshort p{
margin-top:0.2em;
margin-bottom:0.2em;
line-height:1.2em;
}
div.commentbody{
font-size:90%;
margin:0.5em;
line-height:1.2em;
}
div.commentator{
line-height:1.5em;
}
div.commentbody p{
margin:0.5em;
margin-left:2em;
}
div.form form{
margin:0em 0em 0em 1em;
}
div.form div.caption{
font-size:90%;
margin:0.5em;
}
div.form form.comment{
font-size:90%;
}
div.field{
display:inline;
margin-right:2em;
}
form.comment input{
margin-left:1em;
}
div.textarea{
display:block;
vertical-align:top;
}
form.comment textarea{
display:block;
background-color:white;
color:#000;
width:30em;
height:5em;
}
div.button{
display:block;
margin-left:3em;
}
div.update.day{
background-color:#000;
padding:0.5em 1em 0.5em 1em;
color:#fff;
margin-bottom:0.5em;
border-style:solid;
border-color:#fff;
border-width:3px 3px 3px 3px;
}
div.update.day div.form{
border:none;
}
form.update{
padding-top:0.5em;
padding-bottom:0.5em;
}
form.update input,form.update textarea,form.commentstat input{
background-color:white;
color:#000;
}
form.update span.field{
display:inline;
margin-left:0em;
margin-right:0.5em;
}
form.update div.field.title{
display:block;
margin-top:1em;
}
form.update div.field.title input{
margin-left:0.5em;
}
form.update div.textarea{
display:block;
margin-top:1em;
}
form.update textarea{
display:block;
margin-bottom:1em;
width:35em;
height:15em;
}
form.update span.checkbox.hidediary{
margin-left:1em;
}
div.comment form{
margin-top:0em;
}
table.calendar{
font-size:90%;
line-height:1.1em;
background-color:#000;
color:#555;
text-align:center;
border:3px solid #fff;
}
table.calendar td{
margin:0px;
text-align:right;
padding:0px;
}
table.calendar td.calendar-prev-month,table.calendar td.calendar-current-month,table.calendar td.calendar-next-month{
text-align:center;
}
p.recentitem{
font-size:90%;
margin-top:0px;
margin-bottom:0px;
text-align:left;
}
div.recentsubtitles{
font-size:90%;
margin-top:0px;
margin-bottom:1em;
margin-left:1em;
text-align:left;
}
div.body span.footnote{
vertical-align:super;
font-size:70%;
}
div.footnote{
font-size:90%;
background-color:#fff;
color:#555;
padding:0em;
margin-left:6em;
}
p.footnote{
margin:0.5em;
padding:0em;
}
div.section,div.comment{
clear:both;
}
div.main{
margin-left:20%;
}
div.sidebar{
position:absolute;
top:0px;
left:0px;
width:20%;
padding:2px 2px 100% 2px;
padding-top:0.5em;
}
div.sidebar p{
line-height:120%;
text-align:center;
margin:2px 4px 2px 4px;
}
div.body blockquote{
padding:5px;
font-style:italic;
}
div.body blockquote p{
margin:0.5em 0em 0.5em 0em;
}
p.source{
margin-right:1.5em;
margin-top:0px;
text-align:right;
font-size:90%;
line-height:24px;
font-style:italic;
}
.calendar-popup{
display:none;
position:absolute;
padding:0 1ex 0 1ex;
text-align:center;
}
.calendar-day a{
font-weight:normal;
}
.calendar-sunday{
color:#FF8080;
background-color:transparent;
}
.calendar-saturday{
color:#0080FF;
background-color:transparent;
}
.calendar-weekday{
color:#555555;
background-color:transparent;
}
.calendar-todo{
border-style:solid;
border-color:#fff;
border-width:1px;
}
