@charset "utf-8"
body{
background-color:#BEBEBE;
color:#999;
padding:0.2em 0em;
margin:1em 10%;
}
a:link{
text-decoration:none;
color:#006699;
background-color:transparent;
}
a:visited{
text-decoration:none;
color:#7993AE;
background-color:transparent;
}
a:active{
text-decoration:none;
}
a:hover,a:focus{
color:#0038FF;
text-decoration:underline;
background-color:transparent;
}
div.adminmenu{
text-align:right;
font-size:90%;
}
div.calendar{
text-align:left;
font-size:90%;
padding:2px;
margin-top:0.5em;
}
div.calendar div.year{
}
span.adminmenu{
padding:2px;
}
h1{
color:#006699;
background-color:transparent;
text-align:left;
font-style:italic;
font-size:200%;
}
div.day{
text-align:left;
padding:0px;
margin:2em 0em;
background-image:url(rb.png);
background-position:right bottom;
background-repeat:no-repeat;
background-color:#fff;
color:#555;
}
h2{
margin:0px;
padding:0px 1.5em 0px 0px;
text-align:right;
background-image:url(rt.png);
background-position:right top;
background-repeat:no-repeat;
font-size:120%;
line-height:1.5em;
}
h2 span.date{
font-weight:bold;
font-size:120%;
display:block;
font-style:italic;
text-align:center;
background-image:url(lt.png);
background-position:left top;
background-repeat:no-repeat;
line-height:1.5em;
}
h2 span.date a:link,h2 span.date a:visited{
color:#006699;
background-color:transparent;
}
h2 span.title{
margin-left:2em;
padding:0px;
font-weight:normal;
font-size:100%;
}
h2 span.nyear{
font-size:80%;
}
div.body{
text-align:left;
padding:0px;
margin:0px;
}
div.section{
margin:0em 1em;
}
h3{
padding:0.3em;
margin:0px;
font-weight:bold;
font-size:100%;
border-bottom:solid 1px #ddd;
}
div.section p{
line-height:1.4em;
padding:0em 1em 0em 1em;
}
div.caption{
background-color:#ddd;
color:#555;
text-align:center;
padding:2px 0px;
margin:0px;
}
div.comment{
font-size:90%;
text-align:left;
margin:0px 10%;
padding:0px;
line-height:130%;
background-color:#eee;
color:#555;
}
div.commentshort{
font-size:90%;
;margin-left:1em;
}
span.commentator{
font-weight:bold;
}
div.commentshort p{
margin-top:0.2em;
margin-bottom:0.2em;
line-height:130%;
}
div.commentbody{
margin:2px 8px;
}
span.commentator{
font-weight:bold;
}
div.commentbody p{
margin:0.5em;
margin-left:2em;
}
div.form{
text-align:left;
padding:4px 2em;
margin:0em;
}
div.form div.caption{
background-color:#eee;
color:#555;
text-align:left;
padding:0px;
margin-bottom:0.5em;
}
div.form form{
margin:0em 0em 0em 2em;
}
div.form form.comment{
font-size:90%;
;}
div.field{
display:inline;
}
form.comment input{
background-color:#eee;
color:#000;
margin-left:1em;
}
div.textarea{
display:block;
vertical-align:top;
}
form.comment textarea{
display:block;
background-color:#eee;
color:#000;
margin-left:3em;
width:25em;
height:5em;
}
div.button{
display:block;
}
div.referer{
text-align:center;
font-size:90%;
padding:10px 8px;
margin:0px;
background-image:url(lb.png);
background-position:left bottom;
background-repeat:no-repeat;
}
div.refererlist{
font-size:90%;
text-align:left;
padding:10px 8px;
background-image:url(lb.png);
background-position:left bottom;
background-repeat:no-repeat;
}
div.refererlist ul{
margin-top:3px;
}
hr{
border-style:none;
}
hr.sep{
display:none;
}
div.footer{
font-size:90%;
text-align:center;
}
div.day.update{
padding:0px;
}
div.day.update div.form div.caption{
background-image:url(lt.png);
background-position:left top;
background-repeat:no-repeat;
background-color:transparent;
margin:0px;
border-style:none;
padding-left:20px;
}
div.day.update div.form{
background-image:url(rt.png);
background-position:right top;
background-repeat:no-repeat;
padding:0px;
}
form.update div{
padding:0px;
margin:0px 1px;
}
form.update input,form.update textarea,form.commentstat input{
background-color:#eee;
color:#000;
}
form.update span.field{
display:inline;
margin-left:0em;
margin-right:0.5em;
}
form.update div.field.title{
display:block;
margin-top:1em;
}
form.update div.field.title input{
margin-left:0.5em;
}
form.update div.textarea{
display:block;
margin-top:1em;
}
form.update textarea{
display:block;
margin-left:3em;
margin-bottom:1em;
width:25em;
height:15em;
}
form.update span.checkbox.hidediary{
margin-left:1em;
}
div.comment form{
margin-top:0em;
}
div.day.conf h2 span.title{
display:block;
text-align:left;
margin:0px;
padding-left:1em;
background-image:url(lt.png);
background-position:left top;
background-repeat:no-repeat;
}
div.day.conf div.body{
padding:8px;
background-image:url(lb.png);
background-position:left bottom;
background-repeat:no-repeat;
}
div.conf.day textarea{
display:block;
margin-bottom:1em;
width:30em;
height:15em;
}
p.message{
text-align:center;
font-size:medium;
background-color:#555;
color:#888;
padding:8px;
}
pre{
margin-left:2em;
margin-right:1em;
padding:8px;
background-color:#eee;
border-left:8px solid #000;
color:#555;
}
div.body blockquote{
border:groove #999 5px;
margin-left:2em;
padding:8px;
background-color:#fff;
color:#000;
font-style:italic;
}
div.body blockquote p{
margin:0.5em 0em 0.5em 0em;
}
p.source{
margin-top:0em;
margin-right:1.5em;
text-align:right;
font-size:90%;
}
div.body ul,div.body ol{
margin-left:4em;
margin-right:3em;
}
div.body dl{
margin-left:5em;
}
div.body dt{
margin-bottom:0.2em;
font-weight:bold;
}
div.body dd{
margin:0em 3em 0.5em 1em;
}
p.recentitem{
font-size:x-small;
margin-top:0px;
margin-bottom:0px;
}
div.recentsubtitles{
font-size:x-small;
margin-top:0px;
margin-bottom:1em;
margin-left:0.5em;
padding-bottom:0px;
}
table.calendar{
font-size:90%;
line-height:1.1em;
margin:2px auto;
}
table.calendar td{
text-align:right;
}
table.calendar td.calendar-prev-month,table.calendar td.calendar-current-month,table.calendar td.calendar-next-month{
text-align:center;
}
div.body span.footnote{
vertical-align:super;
font-size:xx-small;
}
div.body div.footnote{
font-size:x-small;
padding:0px;
border-top:1px solid #999;
margin:0px 1em 0px 6em;
}
.calendar-popup{
display:none;
position:absolute;
padding:0 1ex 0 1ex;
font-size:small;
}
.calendar-day a{
font-weight:normal;
}
.calendar-sunday{
color:#DA70D6;
background-color:transparent;
}
.calendar-saturday{
color:#1E90FF;
background-color:transparent;
}
.calendar-weekday{
color:#555555;
background-color:transparent;
}
.calendar-todo{
border-style:dashed;
border-color:red;
border-width:1px;
}
p.big{
font-size:20pt;
color:blue;
background-color:transparent;
}
.attention{
color:red;
background-color:transparent;
}
form.search{
text-align:left;
margin:0px;
}
table,td{
border:none;
font-size:90%;
margin:5px;
text-align:left;
margin-right:auto;
margin-left:auto;
}
div.counter p{
font-size:13px;
text-align:center;
}
