@charset "euc-jp"
body{
background-color:#fff;
background-image:url(./pastelpink_back.png);
color:#725767;
}
a:link{
background-color:transparent;
color:#ff657a;
text-decoration:none;
}
a:visited{
background-color:transparent;
color:#e790b5;
text-decoration:none;
}
a:hover,a:focus{
text-decoration:underline;
}
div.adminmenu{
text-align:right;
font-size:small;
}
span.adminmenu{
background-color:#fff;
color:#000000;
border-style:solid;
border-color:#eee;
border-width:1px;
padding:3px;
}
h1{
text-align:right;
font-size:large;
}
div.calendar{
padding:2px;
margin-bottom:0.5em;
}
select{
border-style:solid;
border-width:1px;
border-color:#aaa;
}
div.day{
background-color:#fff;
color:#725767;
border-style:solid;
border-color:#ffced9;
border-width:2px;
padding-bottom:0.5em;
margin-bottom:0.5em;
margin-left:10%;
margin-right:10%;
}
h2{
background-color:#ffced9;
color:#725767;
font-size:medium;
margin-top:0em;
margin-bottom:0.1em;
padding:0.2em;
border-style:solid;
border-width:0px 0px 0px 0px;
}
span.date{
margin-left:0.5em;
}
span.title{
}
div.body{
padding:2px;
padding-bottom:1px;
margin-left:2em;
margin-right:1em;
}
h3{
font-size:100%;
margin:0em;
font-weight:bold;
}
div.section{
}
div.section p{
margin-top:0.5em;
margin-bottom:0.7em;
line-height:1.3;
}
div.comment{
font-size:90%;
padding:2px;
padding-bottom:1px;
margin-top:0.5em;
margin-left:2em;
margin-right:1em;
}
div.commentshort{
margin-left:0.5em;
}
span.commentator{
}
div.commentshort p{
margin-top:0.2em;
margin-bottom:0.2em;
line-height:1.2em;
}
p.commenttitle{
border-style:solid;
border-color:#ffced9;
border-width:0px 0px 1px 0px;
}
div.commentbody{
margin:0.5em;
line-height:1.2em;
}
div.commentator{
border-style:solid;
border-color:#ffced9;
border-width:0px 0px 1px 0px;
padding:3px;
}
div.commentbody p{
margin:0.5em;
margin-left:2em;
}
div.referer{
text-align:right;
font-size:small;
background-color:#fee;
color:#725767;
padding:2px;
padding-bottom:1px;
margin-left:2em;
margin-right:1em;
}
div.refererlist{
font-size:small;
background-color:#fee;
color:#725767;
padding:2px;
padding-bottom:1px;
margin-top:0.5em;
margin-left:2em;
margin-right:1em;
}
div.refererlist ul{
font-size:90%;
margin:0.5em 1em 0.5em 3em;
line-height:1.2em;
}
div.caption{
border-style:solid;
border-color:#ffced9;
border-width:0px 0px 1px 0px;
}
ul.referer{
margin-top:0em;
}
hr{
border-style:solid;
border-width:2px 0px 0px 0px;
border-color:#ddd;
}
hr.sep{
display:none;
}
div.footer{
font-size:small;
text-align:right;
margin-top:0px;
}
div.form{
background-color:#fee;
color:#725767;
padding:0.5em 1em 0.5em 1em;
margin:0.5em 1em 0.5em 2em;
}
input{
border-style:solid;
border-color:#aaa;
border-width:1px;
}
input.field{
background-color:white;
color:#333;
border-style:solid;
border-color:#aaa;
border-width:1px 2px;
}
textarea{
background-color:#fff;
color:#000;
margin-left:1em;
width:30em;
border-style:solid;
border-color:#aaa;
border-width:1px 2px;
}
p.message{
text-align:center;
font-size:large;
background-color:red;
color:white;
padding:8px;
}
pre{
line-height:1.2em;
margin-left:2em;
margin-right:1em;
padding:8px 8px 8px 8px;
border-style:solid;
border-color:#eee;
border-width:1px 1px 1px 15px;
}
blockquote{
border-style:solid;
border-color:#ddd;
border-width:2px;
margin-left:3em;
margin-right:3em;
padding:4px 4px 4px 4px;
}
dl{
margin-left:2em;
}
dt{
margin-bottom:0.2em;
font-weight:bold;
}
dd{
margin-left:1em;
margin-bottom:0.5em;
}
table.calendar{
font-size:x-small;
line-height:100%;
border-style:solid;
border-color:#725767;
border-width:1px;
}
table.calendar td{
margin:0px;
text-align:right;
padding:0px;
margin:0px;
}
table.calendar td.calendar-prev-month,table.calendar td.calendar-current-month,table.calendar td.calendar-next-month{
text-align:center;
}
p.recentitem{
font-size:x-small;
margin-top:0px;
margin-bottom:0px;
}
div.recentsubtitles{
font-size:x-small;
margin-top:0px;
margin-bottom:1em;
margin-left:1em;
}
div.body span.footnote{
vertical-align:super;
font-size:xx-small;
}
div.footnote{
border-style:solid;
border-color:#ffced9;
border-width:1px 0px 0px 0px;
margin-left:3em;
font-size:small;
}
.calendar-popup{
display:none;
text-align:left;
background-color:#fee;
color:#725767;
position:absolute;
border-style:solid;
border-width:1px;
padding:0 1em;
}
.calendar-normal a{
}
.calendar-sunday{
background-color:transparent;
color:red;
}
.calendar-saturday{
background-color:transparent;
color:blue;
}
.calendar-weekday{
background-color:transparent;
color:#725767;
}
img.left{
float:left;
margin:0.5em;
}
img.right{
float:right;
margin:0.5em;
}
div.section,div.comment{
clear:both;
}
span.counter,span.counter-today,span.counter-yesterday{
background-color:#fee;
color:#725767;
border-style:none;
border-color:#725767;
border-width:0px;
padding:1px;
margin:3px;
}
