@charset "euc-jp"
body{
background-color:#E2DDC3;
background-image:url(background.png);
background-repeat:repeat-y;
padding-left:40px;
color:#333;
}
a:link{
color:#c33;
background-color:transparent;
}
a:visited{
color:#933;
background-color:transparent;
}
a:hover{
color:red;
background-color:transparent;
}
a{
text-decoration:none;
}
div.adminmenu{
text-align:right;
font-size:small;
margin-left:-40px;
margin-bottom:2em;
}
h1{
color:#000;
background-color:transparent;
text-align:left;
font-size:170%;
font-style:normal;
margin-top:0.2em;
margin-bottom:0.5em;
padding-bottom:10px;
}
div.calendar{
text-align:right;
font-size:80%;
padding:2px;
margin-bottom:0.5em;
}
.headline{
text-align:right;
font-size:80%;
padding:2px;
margin-bottom:3em;
}
div.day{
margin:1em 1em 5em 1em;
}
h2{
background-image:url(h2back.png);
background-repeat:repeat-y;
font-size:120%;
font-style:normal;
margin-top:2em;
padding:2px 2px 2px 15px;
}
h2 span.date{
margin-left:0.5em;
}
h2 span.title{
}
div.body{
padding:2px 2px 1px 2px;
margin-left:2em;
margin-right:1em;
}
h3{
font-size:100%;
margin-top:1em;
font-weight:bold;
}
div.section p{
margin:0.5em 0em 1em 1em;
line-height:1.4em;
}
div.comment{
font-size:90%;
color:#000;
background-color:#E6DEC8;
border-color:#aaa #fff #fff #aaa;
border-style:solid;
border-width:1px;
padding:2px 2px 1px 2px;
margin:0.5em 1em 0 2em;
}
div.comment div.caption{
}
div.referer{
text-align:right;
font-size:90%;
padding:2px 2px 1px 2px;
margin-left:2em;
margin-right:1em;
}
div.refererlist{
font-size:90%;
padding:2px 2px 1px 2px;
margin-top:0.5em;
margin-left:2em;
margin-right:1em;
}
div.refererlist div.caption{
}
div.refererlist ul{
margin-top:0em;
}
hr{
border-style:solid;
border-width:2px 0px 0px 0px;
border-color:#ddd;
}
hr.sep{
display:none;
}
div.footer{
font-size:80%;
text-align:right;
margin-top:0px;
}
div.form{
padding:0.5em 1em 0.5em 1em;
margin:0.5em 1em 0.5em 2em;
}
input.field{
background-color:white;
color:#000;
}
textarea{
background-color:white;
color:#000;
margin-left:1em;
width:30em;
}
p.message{
text-align:center;
font-size:large;
background-color:red;
color:white;
padding:8px;
}
pre{
background-color:#E6DEC8;
color:#000;
border-color:#aaa #fff #fff #aaa;
border-style:solid;
border-width:2px;
margin-left:2em;
margin-right:1em;
padding:8px 8px 8px 8px;
}
div.body blockquote{
background-color:#E6DEC8;
color:#000;
border-color:#aaa #fff #fff #aaa;
border-style:solid;
border-width:2px;
margin-left:2em;
margin-right:1em;
padding:8px;
}
div.body dl{
margin-left:2em;
}
div.body dt{
margin-bottom:0.2em;
font-weight:bold;
}
div.body dd{
margin-left:1em;
margin-bottom:0.5em;
}
em{
color:black;
background-color:transparent;
font-weight:normal;
font-style:normal;
}
strong{
color:black;
background-color:transparent;
font-size:130%;
font-style:normal;
}
.sfooter{
margin-left:45px;
}
p.source{
margin-top:0em;
margin-right:1.5em;
text-align:right;
font-size:90%;
}
div.commentshort{
margin-left:0.5em;
}
span.commentator{
}
div.commentshort p{
margin-top:0.2em;
margin-bottom:0.2em;
line-height:1.2em;
}
div.commentbody{
margin:0.5em;
line-height:1.2em;
}
div.commentator{
line-height:1.5em;
color:#cc6600;
background-color:transparent;
}
div.commentbody p{
margin:0.5em;
}
div.form form{
margin:0em;
}
div.form div.caption{
margin:0.5em;
}
div.form form.comment{
}
div.field{
display:inline;
margin-right:2em;
}
form.comment input{
background-color:white;
color:#000;
margin-left:1em;
}
div.textarea{
display:block;
vertical-align:top;
}
form.comment textarea{
display:block;
background-color:white;
color:#000;
width:30em;
height:5em;
}
div.button{
display:block;
}
form.update{
padding-top:0.5em;
padding-bottom:0.5em;
}
form.update input,form.update textarea,form.commentstat input{
background-color:white;
color:#000;
}
form.update span.field{
display:inline;
margin-left:0em;
margin-right:0.5em;
}
form.update div.field.title{
display:block;
margin-top:1em;
}
form.update div.field.title input{
margin-left:0.5em;
}
form.update div.textarea{
display:block;
margin-top:1em;
}
form.update textarea{
display:block;
margin-bottom:1em;
width:35em;
height:15em;
}
form.update span.checkbox.hidediary{
margin-left:1em;
}
div.comment form{
margin-top:0em;
}
h2 span.nyear{
font-size:80%;
}
.hide{
background-color:#E2DDC3;
}
