@charset "euc-jp"
body{
background-image:url(subdued.png);
color:#fff;
background-color:#808080;
text-align:center;
}
a:link{
text-decoration:none;
color:#87CEFA;
}
a:visited{
text-decoration:none;
color:#87CEFA;
}
a:hover,a:active{
text-decoration:underline;
color:red;
}
div.adminmenu{
text-align:left;
font-size:small;
padding:5px;
}
span.adminmenu{
margin-top:5px;
padding:5px;
}
p.message{
text-align:center;
font-size:large;
background-color:red;
color:white;
padding:8px;
}
h1{
text-align:center;
font-size:130%;
color:#fff;
}
div.calendar{
font-size:small;
padding:2px;
margin-bottom:0.5em;
text-align:left;
background-color:#808080;
color:#fff;
}
div.day{
margin-top:4em;
margin-right:auto;
margin-left:auto;
text-align:left;
clear:both;
width:80%;
padding:0px 8px 0px 8px;
background-color:#808080;
color:#000;
}
h2{
text-align:left;
margin:0.1em auto 0px auto;
font-weight:normal;
}
h2 span.date{
font-size:medium;
font-style:italic;
position:relative;
letter-spacing:2px;
top:-15px;
left:-20px;
width:60%;
text-align:center;
background-image:url(subdued_h2.png);
background-color:#000;
margin-bottom:0em;
margin-left:auto;
margin-right:auto;
padding:1em;
}
h2 span.date a:link{
color:#fff;
font-weight:bold;
}
h2 span.date a:visited{
font-weight:normal;
}
h2 span.title{
font-size:medium;
text-align:right;
}
div.body{
margin:0px auto 0px auto;
padding-top:0.5em;
padding-bottom:0.5em;
text-align:left;
}
div.section p{
margin-top:0.5em;
margin-bottom:0.7em;
line-height:140%;
margin-left:12px;
}
h3{
margin-top:0.2em;
margin-bottom:0em;
margin-left:2px;
margin-right:2px;
font-weight:bold;
font-size:medium;
}
h3 a:link{
color:white;
}
pre{
border:dashed 1px #ddd;
margin-left:2em;
margin-right:1em;
padding:8px 8px 8px 8px;
color:#ffffff;
text-align:left;
}
div.comment{
text-align:left;
padding:0px;
margin:0px;
}
div.comment div.caption{
text-align:left;
background-color:#000;
color:#fff;
font-size:small;
margin-bottom:1em;
padding:1.5em;
}
div.refererlist div.caption{
text-align:left;
padding:1em;
font-size:small;
}
div.referer{
text-align:right;
font-size:small;
padding:0.5em;
}
div.refererlist{
font-size:small;
text-align:right;
padding-bottom:1px;
margin-top:0.2em;
}
div.refererlist ul{
margin-top:0em;
text-align:left;
}
hr{
border-bottom:solid 1px #ddd;
}
hr.sep{
display:none;
}
div.footer{
font-size:small;
}
div.form form{
text-align:left;
padding:0.5em 1em;
margin-bottom:0.5em;
width:95%;
}
input.field,input,select,textarea{
background-color:#000;
color:#fff;
text-align:left;
}
div.body dl{
margin-left:2em;
}
div.body dt{
margin-bottom:0.2em;
font-weight:bold;
}
div.body dd{
margin-left:1em;
margin-bottom:0.5em;
}
div.commentshort{
font-size:90%;
margin-left:0px;
}
span.commentator{
color:#fff;
}
div.commentshort p{
margin-top:0.2em;
margin-bottom:0.2em;
line-height:1.3em;
}
div.commentbody{
font-size:90%;
margin:0.5em;
line-height:130%;
}
div.commentator{
line-height:1.5em;
}
div.commentbody p{
margin:0px;
padding-left:1em;
}
div.form form{
margin:0em 0em 0em 1em;
}
div.form div.caption{
font-size:90%;
border-bottom:solid 1px #aaa;
border-top:solid 1px #aaa;
margin:1em;
}
div.form form.comment{
font-size:90%;
}
div.field{
display:inline;
margin-right:2em;
}
form.comment input{
margin-left:1em;
}
div.textarea{
display:block;
vertical-align:top;
}
form.comment textarea{
display:block;
width:30em;
height:5em;
}
div.button{
display:block;
margin-left:3em;
}
form.update{
padding:0.5em 0px;
}
form.update input,form.update textarea,form.commentstat input{
background-color:black;
color:white;
}
form.update span.field{
display:inline;
margin:0em 0.5em 0px 0px;
}
form.update div.field.title{
display:block;
}
form.update div.field.title input{
margin-left:0.5em;
}
form.update div.textarea{
display:block;
margin-top:1em;
}
form.update textarea{
display:block;
margin:0px 0px 1em 1em;
width:35em;
height:15em;
}
form.update span.checkbox.hidediary{
margin-left:1em;
}
div.comment form{
margin-top:0em;
}
div.body ul,div.body ol{
margin:0px auto 0px 3em;
}
div.body dl{
margin-left:3em;
}
div.body dt{
margin-bottom:0.2em;
font-weight:bold;
}
div.body dd{
margin:0em 3em 0.5em 1em;
}
blockquote{
border-style:solid ridge ridge solid;
border-width:1px;
padding:5px;
border-color:#fff #000 #000 #fff;
}
p.source{
margin-top:0em;
margin-right:1.5em;
text-align:right;
font-size:90%;
}
div.rank{
font-size:90%;
color:#fff;
width:80%;
margin-right:auto;
margin-left:auto;
text-align:left;
}
div.body span.footnote{
vertical-align:super;
font-size:xx-small;
}
div.footnote{
font-size:small;
text-align:right;
padding:1px;
}
p.strong{
font-size:180%;
text-align:center;
}
table.calendar{
font-size:x-small;
line-height:1.1em;
text-align:center;
margin:auto auto;
}
table.calendar td{
text-align:right;
}
table.calendar td.calendar-prev-month,table.calendar td.calendar-current-month,table.calendar td.calendar-next-month{
text-align:center;
}
.calendar-popup{
display:none;
position:absolute;
padding:0 1ex 0 1ex;
background-color:white;
color:#556B2F;
}
.calendar-day a{
font-weight:normal;
}
.calendar-sunday{
color:#DA70D6;
}
.calendar-saturday{
color:#1E90FF;
}
.calendar-weekday{
color:#555555;
}
.calendar-todo{
background-color:white;
color:#556B2F;
}
p.recentitem{
background-color:#000;
margin:0em;
text-align:center;
}
div.recentsubtitles{
font-size:x-small;
margin-top:0px;
margin-bottom:5px;
margin-left:0.5em;
padding-bottom:0px;
color:#ddd;
text-align:left;
}
div.counterp{font-size:13px;color:white;span.counter,span.counter-today,span.counter-yesterday{
margin-top:1em;
padding:2px;
}
span.counter-0,span.counter-1,span.counter-2,span.counter-3,span.counter-4{
margin:0pt;
padding:1pt 2pt 1pt 2pt;
color:white;
background-color:#000;
}
.search{
text-align:right;
}
