@charset "euc-jp"
body{
background-color:#ffffff;
color:#5f9ea0;
}
a:link{
background-color:transparent;
color:#f4a460;
text-decoration:none;
}
a:visited{
background-color:transparent;
color:#d2b48c;
text-decoration:none;
}
a:hover{
background-color:transparent;
color:#009999;
text-decoration:underline;
}
div.adminmenu{
text-align:right;
font-size:90%;
}
span.adminmenu{
background-color:#f5f5dc;
color:#999999;
border-style:solid;
border-color:#eeeeff #999999 #999999 #eeeeee;
border-width:1px;
padding:2px;
}
h1{
text-align:right;
font-size:medium;
background-color:#ffffff;
color:#999999;
}
div.calendar{
text-align:right;
background-color:#EDF2E3;
color:#999999;
margin:1em auto;
line-height:1.1em;
font-size:small;
}
div.calendar div.year{
}
div.day{
background-color:transparent;
color:#999999;
border-style:solid;
border-color:#8fbc8f;
border-width:4px 0px 0px 0px;
padding-bottom:0.5em;
margin:0.5em 2em;
margin-bottom:1em;
}
h2{
background-color:#EDF2E3;
color:#5f9ea0;
margin-top:0em;
font-size:large;
margin-bottom:1em;
}
h2 span.date{
margin-right:0.5em;
}
h2 span.title{
}
div.body{
background-color:#fff;
color:#5f9ea0;
margin:0.1em 0em;
}
div.section{
margin-top:0.7em;
margin-bottom:0.7em;
}
h3{
font-size:110%;
margin:0em;
font-weight:bold;
border-left:double 6px #8fbc8f;
margin-top:1em;
padding-left:1em;
}
div.section p{
background-color:transparent;
color:#778899;
margin:0.5em 1em 0.7em 3em;
line-height:1.5;
}
div.caption{
font-size:x-small;
border-style:solid;
border-color:#8fbc8f;
border-width:0px 0px 1px 0px;
margin:0.5em;
}
div.comment{
background-color:transparent;
color:#999999;
padding:2px;
padding-bottom:1px;
margin-top:0.5em;
margin-left:2em;
margin-right:1em;
}
div.commentshort{
margin-left:0.5em;
}
span.commentator{
font-weight:bold;
}
div.commentshort p{
font-size:x-small;
margin-top:0.2em;
margin-bottom:0.2em;
line-height:1.2em;
}
div.commentbody{
font-size:x-small;
margin:0.5em;
line-height:1.2em;
}
div.commentator{
line-height:1.5em;
}
div.commentbody p{
margin:0.5em;
margin-left:2em;
}
div.form{
background-color:transparent;
color:#999999;
padding:2px;
margin:0.5em 1em 0.5em 2em;
}
div.form form{
margin:0em 0em 0em 2em;
}
div.form form.comment{
font-size:small;
}
div.field{
display:inline;
margin-right:2em;
}
form.comment input{
background-color:#eef;
color:#000;
margin-left:1em;
}
div.textarea{
display:block;
vertical-align:top;
}
form.comment textarea{
display:block;
background-color:#eef;
color:#000;
margin-left:3em;
width:30em;
height:5em;
}
div.button{
display:block;
margin-left:3em;
}
div.referer{
text-align:right;
font-size:small;
color:#999999;
background-color:#EDF2E3;
padding:2px;
padding-bottom:1px;
margin:0.5em 1em 0em 2em;
}
div.refererlist{
color:#999999;
background-color:#EDF2E3;
padding:2px;
padding-bottom:1px;
margin-top:0.5em;
margin-left:2em;
margin-right:1em;
}
div.refererlist ul{
font-size:small;
margin:0.5em 1em 0.5em 3em;
line-height:1.2em;
}
hr{
border-style:none;
}
hr.sep{
display:none;
}
div.footer{
font-size:small;
text-align:right;
margin-top:1em;
font-style:italic;
}
form.update{
padding-top:0.5em;
padding-bottom:0.5em;
}
form.update input,form.update textarea,form.commentstat input{
background-color:#eef;
color:#000;
}
form.update span.field{
display:inline;
margin-left:0em;
margin-right:0.5em;
}
form.update div.field.title{
display:block;
margin-top:1em;
}
form.update div.field.title input{
margin-left:0.5em;
}
form.update div.textarea{
display:block;
margin-top:1em;
}
form.update textarea{
display:block;
margin-left:3em;
margin-bottom:1em;
width:35em;
height:15em;
}
form.update span.checkbox.hidediary{
margin-left:1em;
}
div.comment form{
margin-top:0em;
}
p.message{
text-align:center;
font-size:large;
background-color:#d00;
color:#fff;
padding:8px;
}
pre{
background-color:#eef;
color:#000;
margin-left:5em;
margin-right:1em;
padding:8px 8px 8px 8px;
}
div.body blockquote{
border-style:solid;
border-color:#ddf;
border-width:2px 2px 2px 2px;
margin-left:5em;
margin-right:3em;
padding:4px 4px 4px 4px;
}
div.body blockquote p{
margin:0.5em 0em 0.5em 0em;
}
div.body p.source{
margin-top:0em;
margin-right:1.5em;
text-align:right;
font-size:90%;
}
div.body ul,div.body ol{
margin-left:6em;
margin-right:3em;
}
div.body dl{
margin-left:5em;
}
div.body dt{
margin-bottom:0.2em;
font-weight:bold;
}
div.body dd{
margin:0em 3em 0.5em 1em;
}
table.calendar{
font-size:x-small;
line-height:1.1em;
border-width:0px;
margin:2px auto;
}
table.calendar td{
margin:0px;
text-align:right;
padding:0px;
margin:0px;
}
table.calendar td.calendar-prev-month,table.calendar td.calendar-current-month,table.calendar td.calendar-next-month{
text-align:center;
color:#ffffff;
background-color:#8fbc8f;
}
table.calendar td.calendar-prev-month a{
background-color:transparent;
color:#ffffff;
text-decoration:none;
}
table.calendar td.calendar-current-month a{
background-color:transparent;
color:#ffffff;
text-decoration:none;
}
table.calendar td.calendar-next-month a{
background-color:transparent;
color:#ffffff;
text-decoration:none;
}
p.recentitem{
font-size:x-small;
margin-top:0px;
margin-bottom:0px;
color:#5f9ea0;
background-color:#8fbc8f;
}
p.recentitem a{
background-color:transparent;
color:#ffffff;
text-decoration:none;
}
div.recentsubtitles{
font-size:x-small;
margin-top:0px;
margin-bottom:1em;
margin-left:1em;
}
div.body span.footnote{
vertical-align:super;
font-size:xx-small;
}
div.footnote{
font-size:x-small;
border-style:solid;
border-color:#8fbc8f;
border-width:1px 0px 0px 0px;
padding:0em;
margin-left:6em;
}
p.footnote{
margin:0.5em;
padding:0em;
}
img.left{
border-width:1px;
border-color:#008;
float:left;
margin:0.5em;
}
img.right{
border-width:1px;
border-color:#008;
float:right;
margin:0.5em;
}
div.section,div.comment{
clear:both;
}
div.main{
float:right;
width:78%;
}
div.sidebar{
float:left;
width:20%;
color:#5f9ea0;
background-color:#EDF2E3;
padding:2px 2px 100% 2px;
padding-top:0.5em;
}
div.sidebar p{
line-height:120%;
text-align:center;
margin:2px 4px 2px 4px;
}
