@charset "utf-8"
body{
color:#000000;
background-color:#ffffff;
margin:0px;
}
p{
margin-left:1em;
margin-right:3em;
}
input{
margin-left:1em;
}
a:link{
text-decoration:none;
color:#3333FF;
background-color:transparent;
}
a:visited{
text-decoration:none;
color:#2323B1;
background-color:transparent;
}
a:hover{
text-decoration:underline;
}
div.adminmenu{
color:#414183;
background-color:#a3a3d1;
text-align:right;
font-size:90%;
width:100%;
margin:0px 0px 0px 0px;
padding:5px 0px 3px 0px;
}
span.adminmenu,span.adminmenu a:link,span.adminmenu a:visited,span.adminmenu a:hover{
color:#414183;
background-color:transparent;
}
div.calendar{
color:#222;
background-color:transparent;
text-align:left;
letter-spacing:0.1em;
padding:2px;
line-height:110%;
font-size:90%;
margin-right:1em;
}
div.calendar div.year{
}
h1{
color:#414183;
background-color:#a3a3d1;
text-align:center;
width:100%;
margin:0px 0px 0px 0px;
padding:10px 0px 10px 0px;
height:35px;
}
h1 a:link,h1 a:visited,h1 a:hover{
text-decoration:none;
color:#414183;
background-color:transparent;
}
h2 span.date{
margin-left:10px;
}
h2,h3,h4,h5,h6{
margin:0px 0px 0px 0px;
padding:2px 0px 2px 0px;
width:100%;
}
h2{
color:#ffffff;
background-color:#a3a3a6;
}
h3,h4,h5,h6{
color:#000000;
background-color:#ffffaa;
}
h2 a:link,h2 a:visited,h2 a:hover,h3 a:link,h3 a:visited,h3 a:hover,h4 a:link,h4 a:visited,h4 a:hover,h5 a:link,h5 a:visited,h5 a:hover,h6 a:link,h6 a:visited,h6 a:hover{
text-decoration:none;
color:#ffffff;
background-color:transparent;
}
h2 span.title,h2 span.date a,h2 span.title a{
background-color:transparent;
}
div.body{
margin:0;
}
div.section{
line-height:130%;
}
div.caption{
margin-left:1em;
font-size:90%;
}
div.comment{
padding:0.5em 1em;
margin-top:0;
border-style:dashed;
border-width:2px 0px;
border-color:#a3a3a6;
}
div.commentshort{
font-size:90%;
padding:4px;
}
div.commentshort p{
margin:0.2em 0em;
line-height:120%;
}
div.commentbody{
line-height:120%;
margin:0.5em;
}
span.commentator{
font-weight:bold;
}
div.commentator{
line-height:150%;
border-style:dashed;
border-color:#a3a3a6;
border-width:1px 0px 0px 0px;
}
div.commentbody p{
margin:0.5em 0.5em 0.5em 2em;
}
div.form{
margin:0;
padding:0;
}
div.referer{
text-align:right;
font-size:90%;
padding:10px;
margin:0;
}
div.refererlist{
padding:2px;
padding-bottom:1px;
margin:0;
}
div.refererlist ul{
font-size:90%;
margin:0.5em 1em 0.5em 3em;
line-height:120%;
}
hr{
border-style:dashed;
border-width:2px 0px 0px 0px;
border-color:#99CCCC;
}
hr.sep{
display:none;
}
div.footer{
font-size:90%;
text-align:center;
margin:8px;
}
form{
margin:1em 0em;
padding:0em 0em;
}
input,textarea{
background-color:#FFFFE1;
color:#000000;
border:solid 2px #a3a3a6;
}
form.update span.field,div.field{
display:inline;
margin:0em 0.5em;
}
form.update div.field.title{
display:block;
margin-top:1em;
}
form.update textarea,form.comment textarea{
display:block;
margin:1em 0em 1em 3em;
width:50em;
height:20em;
}
form.update span.checkbox.hidediary{
margin-left:1em;
}
div.button{
display:block;
margin-left:3em;
}
div.comment form{
margin-top:0em;
}
p.message{
text-align:center;
font-size:large;
background-color:#d00;
color:#fff;
padding:8px;
}
div.section blockquote,div.section pre{
color:#000000;
background-color:#f2eded;
padding:8px 8px 8px 8px;
margin-left:2em;
margin-right:1em;
border:dashed 2px #999999;
line-height:120%;
}
div.section blockquote p{
margin:0.5em 0em;
}
div.section ul,div.section ol{
margin-left:5em;
margin-right:3em;
padding-left:0px;
line-height:120%;
}
div.section ul ul,div.section ol ol{
margin-left:1.7em;
margin-right:1em;
margin-bottom:0.5em;
}
li{
margin-bottom:0.2em;
}
div.section dl{
margin-left:5em;
}
div.section dt{
margin-bottom:0.2em;
font-weight:bold;
}
div.section dd{
margin:0em 3em 0.5em 1em;
}
div.section table{
margin:0.5em 1em 0.5em 5em;
border:solid 2px #aaf;
border-collapse:collapse;
}
div.section th,div.section td{
padding:5px;
border:solid 1px #aaf;
}
