@charset "utf-8"
a:link,a:visited{
color:#fff;
text-decoration:none;
border-style:none;
border-width:1px;
}
a:active{
text-decoration:none;
border-width:2px;
}
a:hover,a:focus{
color:#fff;
background-color:#fff;
border-style:none;
border-width:1px;
}
body{
background-color:#fff;
color:#fff;
}
div.adminmenu{
text-align:right;
font-size:small;
}
span.adminmenu{
background-color:#fff;
color:#fff;
border-style:solid;
border-color:#fff #fff #fff #fff;
border-width:1px;
padding:3px;
}
h1{
text-align:center;
color:#000;
}
div.calendar{
background-color:#fff;
color:#fff;
border-style:solid;
border-color:#fff #fff #fff #fff;
border-width:1px;
padding:2px;
margin-bottom:0.5em;
}
div.day{
background-color:#fff;
color:#fff;
border-style:solid;
border-color:#fff #fff #fff #fff;
border-width:1px;
padding-bottom:0.5em;
margin-bottom:0.5em;
}
h2{
margin-top:0.1em;
margin-bottom:0.1em;
}
h2 span.date{
font-size:large;
margin-left:0.5em;
}
h2 span.title{
}
div.body{
background-color:#fff;
color:#fff;
padding:2px;
padding-bottom:1px;
margin-left:2em;
margin-right:1em;
}
h3{
font-size:100%;
margin:0em;
font-weight:bold;
}
div.section p{
margin-top:0.5em;
margin-bottom:0.7em;
line-height:1.3;
}
div.comment{
font-size:small;
background-color:#fff;
color:#fff;
padding:2px;
padding-bottom:1px;
margin-top:0.5em;
margin-left:2em;
margin-right:1em;
}
div.comment div.caption{
border-style:solid;
border-color:#fff;
border-width:0px 0px 1px 0px;
}
div.referer{
text-align:right;
font-size:small;
background-color:#fff;
color:#fff;
padding:2px;
padding-bottom:1px;
margin-left:2em;
margin-right:1em;
}
div.refererlist{
font-size:small;
background-color:#fff;
color:#fff;
padding:2px;
padding-bottom:1px;
margin-top:0.5em;
margin-left:2em;
margin-right:1em;
}
div.refererlist div.caption{
border-style:solid;
border-color:#fff;
border-width:0px 0px 1px 0px;
}
div.refererlist ul{
margin-top:0em;
}
hr{
border-style:solid;
border-width:2px 0px 0px 0px;
border-color:#fff;
}
hr.sep{
display:none;
}
div.footer{
background-color:#fff;
color:#000;
font-size:small;
text-align:right;
margin-top:0px;
}
div.footer a:link,div.footer a:visited{
color:#000;
text-decoration:none;
border-style:none;
border-width:1px;
}
div.footer a:active{
text-decoration:none;
border-width:2px;
}
div.footer a:hover,div.footer a:focus{
color:red;
background-color:#fff;
border-style:none;
border-width:1px;
}
div.form{
background-color:#fff;
color:#fff;
padding:0.5em 1em 0.5em 1em;
margin:0.5em 1em 0.5em 2em;
}
input.field{
background-color:#fff;
color:#000;
}
textarea{
background-color:#fff;
color:#000;
margin-left:1em;
width:30em;
}
p.message{
text-align:center;
font-size:large;
background-color:red;
color:white;
padding:8px;
}
pre{
background-color:#fff;
color:#fff;
margin-left:2em;
margin-right:1em;
padding:8px 8px 8px 8px;
}
div.body blockquote{
border-style:solid;
border-color:#fff;
border-width:2px;
margin-left:3em;
margin-right:3em;
padding:4px 4px 4px 4px;
}
div.body dl{
margin-left:2em;
}
div.body dt{
margin-bottom:0.2em;
font-weight:bold;
}
div.body dd{
margin-left:1em;
margin-bottom:0.5em;
}
table.calendar{
font-size:x-small;
line-height:100%;
border-width:0px;
}
table.calendar td{
margin:0px;
text-align:right;
padding:0px;
margin:0px;
}
table.calendar td.calendar-prev-month,table.calendar td.calendar-current-month,table.calendar td.calendar-next-month{
text-align:center;
}
p.recentitem{
font-size:x-small;
margin-top:0px;
margin-bottom:0px;
}
div.recentsubtitles{
font-size:x-small;
margin-top:0px;
margin-bottom:1em;
margin-left:1em;
}
div.body span.footnote{
vertical-align:super;
font-size:xx-small;
}
div.footnote{
border-style:solid;
border-color:#fff;
border-width:1px 0px 0px 0px;
margin-left:3em;
font-size:small;
}
div.commentshort{
margin-left:0.5em;
}
span.commentator{
}
div.commentshort p{
margin-top:0.2em;
margin-bottom:0.2em;
line-height:1.2em;
}
div.commentbody{
margin:0.5em;
line-height:1.0em;
}
div.commentator{
border-style:solid;
border-color:#fff;
border-width:0px 0px 1px 0px;
line-height:1.5em;
margin-bottom:0.5em;
}
div.commentbody p{
margin:0em;
line-height:1.3em;
}
div.form div.caption{
border-style:solid;
border-color:#fff;
border-width:0px 0px 1px 0px;
margin:0.5em;
}
div.form form.comment{
}
div.field{
display:inline;
margin-right:2em;
}
form.comment input{
background-color:#fff;
color:#000;
margin-left:1em;
}
div.textarea{
display:block;
vertical-align:top;
}
form.comment textarea{
display:block;
background-color:#fff;
color:#000;
margin-left:3em;
width:30em;
height:5em;
}
div.button{
display:block;
}
form.update{
padding-top:0.5em;
padding-bottom:0.5em;
}
form.update input,form.update textarea,form.commentstat input{
background-color:#fff;
color:#000;
}
form.update span.field{
display:inline;
margin-left:0em;
margin-right:0.5em;
}
form.update div.field.title{
display:block;
margin-top:1em;
}
form.update div.field.title input{
margin-left:0.5em;
}
form.update div.textarea{
display:block;
margin-top:1em;
}
form.update textarea{
display:block;
margin-left:3em;
margin-bottom:1em;
width:35em;
height:15em;
}
form.update span.checkbox.hidediary{
margin-left:1em;
}
div.comment form{
margin-top:0em;
}
