@charset "euc-jp"
body{
background-color:#fff;
background-image:url(sagegreen-b.png);
color:#555555;
}
a:link,a:visited{
text-decoration:none;
color:#008080;
background-color:transparent;
}
a:hover{
text-decoration:underline;
color:#6A5ACD;
background-color:#F0FFF0;
}
div.adminmenu{
text-align:right;
font-size:90%;
margin:1em 10%;
}
span.adminmenu{
padding:2px;
}
h1{
text-align:center;
font-size:180%;
}
div.calendar{
background-image:url(sagegreen-g.png);
padding:2px;
margin-top:0.5em;
margin-bottom:0.5em;
line-height:1.1em;
font-size:90%;
text-align:left;
margin:1em 10%;
}
div.calendar div.year{
}
p.calendar{
margin:0px;
}
div.day{
background-color:#fff;
color:#555;
margin-bottom:2em;
text-align:left;
margin:1em 10% 3em 10%;
}
h2{
font-size:130%;
font-weight:normal;
margin:0px;
text-align:left;
padding:5px;
background-image:url(sagegreen-g.png);
}
h2 span.date{
color:#FFECEC;
background-color:transparent;
padding-left:1em;
}
h2 span.title,h2 span.nyear{
font-size:85%;
}
div.body{
margin:0.5em 1em 0.5em 1em;
padding:1em;
}
div.section{
margin-top:0.5em;
padding-bottom:0.5em;
background-color:#fff;
color:#555;
border-bottom:dotted 1px #8FBC8F;
}
h3{
font-size:110%;
margin:0em;
padding:2px;
}
div.section p{
margin:0.5em 1em 1em 2em;
line-height:130%;
}
div.caption{
background-image:url(sagegreen-b.png);
font-size:90%;
margin:0em;
padding:3px;
}
div.comment{
padding:5px;
background-color:#fff;
color:#555;
margin:5px 2em 1em 2em;
}
div.commentshort{
font-size:90%;
}
span.commentator{
font-weight:bold;
color:#008080;
background-color:transparent;
}
div.commentshort p{
margin-top:0.2em;
margin-bottom:0.2em;
line-height:1.2em;
}
div.commentbody{
font-size:90%;
line-height:1.2em;
}
div.commentator{
line-height:1.5em;
margin-left:1em;
}
div.commentbody p{
margin:0.5em;
margin-left:2em;
}
div.form{
padding:2px;
margin:1em 2em 0.5em 2em;
}
div.form form{
margin:0em 0em 0em 0em;
background-color:#fff;
color:#555;
}
div.form form.comment{
font-size:90%;
}
div.field{
display:inline;
margin-right:2em;
}
form.comment input{
margin-left:1em;
margin-top:1em;
border:solid 1px #000;
}
div.textarea{
display:block;
vertical-align:top;
}
form.comment textarea{
display:block;
width:30em;
height:5em;
margin-left:1.5em;
border:solid 1px #000;
}
div.button{
display:block;
margin-left:3em;
}
div.referer{
text-align:center;
font-size:90%;
margin:0em;
padding:5px;
background-image:url(sagegreen-g.png);
}
div.refererlist{
text-align:left;
padding:5px;
padding-bottom:1px;
margin:0.5em 2em 1em 2em;
background-color:#fff;
color:#555;
}
div.refererlist ul{
font-size:90%;
margin:0.5em 1em 0.5em 3em;
line-height:1.2em;
}
hr{
border-style:solid;
border-width:1px 0px 0px 0px;
border-color:#000;
}
hr.sep{
display:none;
}
div.footer{
font-size:90%;
text-align:center;
}
form.update{
padding-top:0.5em;
padding-bottom:0.5em;
}
form.update input,form.update textarea,form.commentstat input{
border:solid 1px #000;
margin-left:1em;
}
form.update span.field{
display:inline;
margin-left:1em;
margin-right:0.5em;
}
form.update div.field.title{
display:block;
margin-top:1em;
margin-left:1em;
}
form.update div.field.title input{
margin-left:0.5em;
border:solid 1px #000;
}
form.update div.textarea{
display:block;
margin-top:1em;
margin-left:1em;
}
form.update textarea{
display:block;
margin-bottom:1em;
width:30em;
height:15em;
}
form.update span.checkbox.hidediary{
margin-left:1em;
}
div.comment form{
margin-top:0em;
}
p.message{
text-align:center;
font-size:large;
background-color:#d00;
color:#fefefe;
padding:8px;
}
pre{
margin-left:2em;
margin-right:1em;
padding:5px;
border:2px solid #00CED1;
background-color:#F0FFF0;
color:#555;
}
div.body blockquote{
border:3px ridge #00CED1;
margin-left:2em;
padding:5px;
color:#4682B4;
font-style:italic;
}
div.body blockquote p{
margin:0.5em 0em 0.5em 0em;
}
div.body ul,div.body ol{
margin-left:2em;
margin-right:2em;
}
div.body dl{
margin-left:5em;
}
div.body dt{
margin-bottom:0.2em;
font-weight:bold;
}
div.body dd{
margin:0em 3em 0.5em 1em;
}
table.calendar{
font-size:90%;
line-height:1.1em;
background-color:#fff;
color:#555;
text-align:center;
border:5px solid #F0FFF0;
background-image:url(sagegreen-b.png);
}
table.calendar td{
margin:0px;
text-align:right;
padding:0px;
}
table.calendar td.calendar-prev-month,table.calendar td.calendar-current-month,table.calendar td.calendar-next-month{
text-align:center;
}
p.recentitem{
font-size:90%;
margin-top:0px;
margin-bottom:0px;
text-align:left;
}
div.recentsubtitles{
font-size:90%;
margin-top:0px;
margin-bottom:1em;
margin-left:1em;
text-align:left;
}
div.body span.footnote{
vertical-align:super;
font-size:70%;
}
div.footnote{
font-size:90%;
border-style:solid;
border-color:#EDC2C2;
border-width:1px 0px 0px 0px;
padding:0em;
margin-left:6em;
}
p.footnote{
margin:0.5em;
padding:0em;
}
div.section,div.comment{
clear:both;
}
div.main{
margin-left:20%;
}
div.sidebar{
position:absolute;
top:0px;
left:0px;
width:20%;
padding:2px 2px 100% 2px;
padding-top:0.5em;
}
div.sidebar p{
line-height:120%;
text-align:center;
margin:2px 4px 2px 4px;
background-image:url(sagegreen-g.png);
}
p.source{
margin-right:1.5em;
margin-top:0px;
text-align:right;
font-size:90%;
line-height:24px;
font-style:italic;
}
.calendar-popup{
display:none;
position:absolute;
padding:0 1ex 0 1ex;
text-align:center;
}
.calendar-day a{
font-weight:normal;
}
.calendar-sunday{
color:#FF8080;
background-color:transparent;
}
.calendar-saturday{
color:#0080FF;
background-color:transparent;
}
.calendar-weekday{
color:#555555;
background-color:transparent;
}
.calendar-todo{
border-style:solid;
border-color:#fff;
border-width:1px;
}
p.big{
font-size:20pt;
color:blue;
background-color:transparent;
}
.attention{
color:red;
background-color:transparent;
}
form.search{
text-align:left;
margin:1em 10%;
}
table,td{
border:none;
font-size:90%;
margin:5px;
text-align:left;
margin-right:auto;
margin-left:auto;
}
div.counter p{
font-size:13px;
text-align:center;
}
div.day.conf div.body{
padding:8px;
background-color:#fff;
color:#555;
margin:1em 2em;
}
