@charset "utf-8"
body{
background-color:#F6F1F1;
color:#333333;
margin:1em;
}
a:link{
color:#6666cc;
text-decoration:none;
}
a:hover{
color:blue;
}
a:visited{
color:#9999ff;
text-decoration:none;
}
div.adminmenu{
padding:3px;
text-align:right;
margin-bottom:0;
}
span.adminmenu{
}
h1{
text-align:center;
border-width:0 0 4px 0;
border-color:#ff9966;
border-style:double;
padding-bottom:0.5em;
margin:40px 10px 50px 10px;
}
div.calendar{
padding:3px;
text-align:left;
font-size:80%;
margin:3em 10px 0 10px;
text-indent:0;
}
.headline{
border-width:0 0 1px 0;
border-style:solid;
border-color:silver;
padding:3px;
text-align:right;
font-size:90%;
margin:0 10px 3em 10px;
}
div.day{
padding:1em;
margin:0;
}
h2{
font-size:120%;
font-style:normal;
margin:0;
padding:0.2em;
border-width:3px 3px 3px 0;
border-color:#ff9966;
border-style:solid;
}
h2 span.date{
font-style:normal;
margin-left:0.5em;
}
h2 span.title{
font-weight:normal;
font-size:90%;
}
div.body{
padding:1px 1em;
padding-bottom:1px;
margin:0 0 1em 0;
border-width:0 0 3px 3px;
border-color:#ff9966;
border-style:solid;
}
h3{
font-size:100%;
margin:1.5em 0 1em 0;
font-weight:bold;
border-width:0 0 1px 0;
border-style:dotted;
border-color:#ff9966;
}
div.section p{
margin:0.5em 0.5em 0.7em 1em;
line-height:1.4em;
}
div.comment{
font-size:90%;
background-color:white;
border-color:silver;
border-width:1px 0 0 0;
border-style:solid;
padding:5px;
}
div.comment div.caption{
border-style:dotted;
border-color:silver;
border-width:1px 0;
padding:3px 0;
}
div.comment p{
text-indent:0;
margin-left:0em ! important;
}
div.referer{
font-size:90%;
margin:0;
background-color:white;
text-align:right;
font-size:small;
border-style:solid;
border-color:silver;
border-width:0 0 1px 0;
padding:2px;
padding-bottom:1px;
}
div.refererlist{
background-color:white;
font-size:small;
border-style:solid;
border-color:silver;
border-width:1px 0;
padding:2px;
padding-bottom:1px;
margin-bottom:1em;
}
div.refererlist div.caption{
border-style:dotted;
border-color:silver;
border-width:0 0 1px 0;
padding:0.3em 0em;
margin-left:8px;
margin-right:4px;
}
div.refererlist ul{
margin-top:0em;
}
hr{
border-style:solid;
border-width:2px 0px 0px 0px;
border-color:#ddd;
}
hr.sep{
display:none;
}
.sfooter{
margin-left:45px;
}
div.footer{
font-size:small;
text-align:right;
margin:0px 45px;
}
div.form{
padding:0.5em 1em 0.5em 1em;
}
input.field{
background-color:white;
}
textarea{
background-color:white;
}
p.message{
text-align:center;
font-size:large;
background-color:red;
color:white;
padding:8px;
}
pre{
background-color:white;
border-width:1px;
border-style:solid;
border-color:silver;
margin:1em 2em;
padding:0.5em;
}
div.body dl{
margin-left:2em;
}
div.body dt{
margin-bottom:0.2em;
font-weight:bold;
}
div.body dd{
margin-left:1em;
margin-bottom:0.5em;
}
blockquote{
background-color:white;
border-width:1px;
border-style:solid;
border-color:silver;
margin:1em 2em;
padding:0.5em;
}
div.section blockquote p{
text-indent:0em;
margin-left:0em;
}
em{
font-weight:bold;
font-style:normal;
}
strong{
color:black;
background:white;
}
.hide{
background-color:#333333;
}
p.source{
margin-top:0em;
margin-right:1.5em;
text-align:right;
font-size:90%;
}
div.commentshort{
margin-left:0.5em;
}
span.commentator{
}
div.commentshort p{
margin-top:0.2em;
margin-bottom:0.2em;
line-height:1.2em;
}
div.commentbody{
margin:0.5em;
line-height:1.2em;
}
div.commentator{
line-height:1.5em;
color:red;
padding:3px;
}
div.commentbody p{
margin:0.5em;
}
div.form form{
margin:0em;
}
div.form div.caption{
border-style:solid;
border-color:silver;
border-width:0px 0px 1px 0px;
margin:0.5em;
}
div.form form.comment{
}
div.field{
display:inline;
margin-right:2em;
}
form.comment input{
background-color:white;
margin-left:1em;
}
div.textarea{
display:block;
vertical-align:top;
}
form.comment textarea{
display:block;
background-color:white;
width:30em;
height:5em;
}
div.button{
display:block;
}
form.update{
padding-top:0.5em;
padding-bottom:0.5em;
}
form.update input,form.update textarea,form.commentstat input{
background-color:white;
}
form.update span.field{
display:inline;
margin-left:0em;
margin-right:0.5em;
}
form.update div.field.title{
display:block;
margin-top:1em;
}
form.update div.field.title input{
margin-left:0.5em;
}
form.update div.textarea{
display:block;
margin-top:1em;
}
form.update textarea{
display:block;
margin-bottom:1em;
width:35em;
height:15em;
}
form.update span.checkbox.hidediary{
margin-left:1em;
}
div.comment form{
margin-top:0em;
}
