@charset "utf-8"
a:link,a:visited{
color:#339;
text-decoration:none;
border-style:none;
border-width:1px;
}
a:active{
text-decoration:none;
border-width:2px;
}
a:hover,a:focus{
color:#fff;
background-color:#f90;
border-style:none;
border-width:1px;
}
body{
background-color:#fff;
background-image:url(cards_back.png);
background-attachment:scroll;
color:black;
margin-left:10%;
margin-right:10%;
}
div.adminmenu{
text-align:right;
font-size:small;
}
span.adminmenu{
background-color:#ddd;
border-style:solid;
border-color:#eee #aaa #aaa #eee;
border-width:1px;
padding:3px;
}
h1{
text-align:center;
}
div.calendar{
color:black;
background-color:#fff;
border-style:ridge;
border-color:darkgray #eee #eee darkgray;
border-width:2px;
padding:3px;
margin-left:1px;
margin-bottom:0.5em;
text-align:right;
}
div.day{
background-color:#ddd;
background-image:url(cards_back2.png);
border-style:ridge;
border-color:darkgray #eee #eee darkgray;
border-width:2px;
padding-left:0.5em;
padding-bottom:0.5em;
margin-bottom:1em;
}
h2{
margin-top:0.5em;
margin-bottom:1.5em;
}
h2 span.date{
font-size:large;
margin-left:0.5em;
}
h2 span.title{
}
div.body{
background-color:#333;
padding-left:5px;
padding-right:5px;
padding-top:1px;
padding-bottom:1px;
margin-left:1em;
margin-right:1em;
margin-top:1em;
margin-bottom:1em;
}
h3{
margin-top:5px;
font-weight:bold;
}
div.section{
background:#fbfbff;
margin-left:-1em;
margin-right:0.5em;
margin-top:-1.5em;
margin-bottom:1.7em;
padding-left:1em;
padding-right:1em;
padding-top:1em;
padding-bottom:1em;
}
div.section p{
margin-left:0.5em;
margin-top:0.5em;
margin-bottom:0.7em;
line-height:150%;
}
div.body blockquote{
line-height:150%;
}
div.day span.sanchor{
font-size:1px;
color:#ffffff;
background-image:url(cards_p.png);
background-position:bottom left;
background-repeat:no-repeat;
background-color:transparent;
padding:24px 25px 0px 0px;
}
h3 a:hover,h3 a:focus{
color:#f90;
background-color:#fbfbff;
border-style:none;
border-width:1px;
}
div.comment{
font-size:small;
background-color:#fbfbff;
padding:10px;
padding-bottom:1px;
margin-top:0.5em;
margin-left:2em;
margin-right:2em;
margin-bottom:1em;
border-width:thin;
border-style:ridge;
border-color:#ddd;
}
div.comment div.caption{
border-style:solid;
border-color:#aaa;
border-width:0px 0px 1px 0px;
}
div.day span.canchor{
font-size:1px;
color:#fbfbff;
background-image:url(cards_c.png);
background-position:bottom right;
background-repeat:no-repeat;
background-color:transparent;
padding:10px 11px 0px 0px;
}
div.referer{
text-align:right;
font-size:small;
background-color:#fbfbff;
padding:2px;
padding-bottom:1px;
margin-left:2em;
margin-right:2em;
border-width:thin;
border-style:ridge;
border-color:#ddd;
}
div.refererlist{
font-size:small;
background-color:#fbfbff;
padding:2px;
padding-bottom:1px;
margin-top:0.5em;
margin-left:2em;
margin-right:2em;
border-width:thin;
border-style:ridge;
border-color:#ddd;
}
div.refererlist div.caption{
border-style:solid;
border-color:#aaa;
border-width:0px 0px 1px 0px;
}
div.refererlist ul{
margin-top:0em;
}
hr{
border-style:solid;
border-width:2px 0px 0px 0px;
border-color:#ddd;
}
hr.sep{
display:none;
}
div.footer{
font-size:small;
text-align:right;
margin-top:0px;
}
div.form{
background-color:#fbfbff;
padding:2px;
padding-bottom:1px;
margin-top:0.5em;
margin-left:1.7em;
margin-right:1.7em;
border-width:thin;
border-style:ridge;
border-color:#ddd;
}
input.field{
background-color:white;
}
textarea{
background-color:white;
margin-left:1em;
width:30em;
}
p.message{
text-align:center;
font-size:large;
background-color:red;
color:white;
padding:8px;
}
pre{
background-color:black;
color:#0f3;
margin-left:2em;
margin-right:1em;
padding:8px 8px 8px 8px;
}
div.body dl{
margin-left:2em;
}
div.body dt{
margin-bottom:0.2em;
font-weight:bold;
}
div.body dd{
margin-left:1em;
margin-right:1em;
margin-bottom:0.5em;
}
div.commentshort{
font-size:90%;
margin-left:0.5em;
}
span.commentator{
font-weight:bold;
}
div.commentshort p{
margin-top:0.2em;
margin-bottom:0.2em;
line-height:1.2em;
}
div.commentbody{
font-size:90%;
margin:0.5em;
line-height:1.2em;
}
div.commentator{
border-style:solid;
border-color:#aaa;
border-width:0px 0px 1px 0px;
line-height:1.5em;
}
div.commentbody p{
margin:0.5em;
margin-left:2em;
}
div.form form{
margin:0em 0em 0em 2em;
}
div.form div.caption{
font-size:90%;
border-style:solid;
border-color:#aaa;
border-width:0px 0px 1px 0px;
margin:0.5em;
}
div.form form.comment{
font-size:90%;
}
div.field{
display:inline;
margin-right:2em;
}
form.comment input{
background-color:white;
margin-left:1em;
}
div.textarea{
display:block;
vertical-align:top;
}
form.comment textarea{
display:block;
background-color:white;
margin-left:3em;
width:30em;
height:5em;
}
div.button{
display:block;
margin-left:3em;
}
form.update{
padding-top:0.5em;
padding-bottom:0.5em;
}
form.update input,form.update textarea,form.commentstat input{
background-color:white;
}
form.update span.field{
display:inline;
margin-left:0em;
margin-right:0.5em;
}
form.update div.field.title{
display:block;
margin-top:1em;
}
form.update div.field.title input{
margin-left:0.5em;
}
form.update div.textarea{
display:block;
margin-top:1em;
}
form.update textarea{
display:block;
margin-left:3em;
margin-bottom:1em;
width:35em;
height:15em;
}
form.update span.checkbox.hidediary{
margin-left:1em;
}
div.comment form{
margin-top:0em;
}
table.calendar{
text-align:center;
color:#000000;
background-color:#eee;
border-style:solid;
border-color:#818ccc;
border-width:1px;
margin-bottom:1em;
padding:2px;
}
td.calendar-current-month{
font-size:100%;
text-align:center;
}
td.calendar-next-month{
font-size:100%;
text-align:right;
}
td.calendar-prev-month{
font-size:100%;
text-align:left;
}
td.calendar-sunday{
color:red;
background-color:#fbb;
font-size:100%;
text-align:center;
}
td.calendar-saturday{
color:blue;
background-color:#bbf;
font-size:100%;
text-align:center;
}
td.calendar-weekday{
color:#000000;
background-color:#ddd;
font-size:100%;
text-align:center;
}
td.calendar-day{
font-size:100%;
text-align:right;
}
.calendar-popup{
display:none;
text-align:left;
background-color:#fff;
position:absolute;
border-style:solid;
border-width:1px;
padding:1px 1ex 1px 1ex;
}
div.calendar3{
background-color:#fff;
border-style:solid;
border-color:#777 darkgray darkgray #777;
border-width:1px;
text-align:right;
padding-right:1em;
padding-top:2px;
padding-bottom:2px;
margin:2px;
font-size:small;
}
.calendar-day a{
font-weight:bold;
}
.calendar-sunday{
color:red;
}
.calendar-saturday{
color:blue;
}
.calendar-weekday{
color:black;
}
