@charset "euc-jp"
a:link{
color:#FFE600;
text-decoration:none;
background-color:transparent;
}
a:visited{
color:#FFCC00;
text-decoration:none;
background-color:transparent;
}
a:active,a:hover{
color:#FFB300;
text-decoration:none;
background-color:transparent;
}
body{
color:#FFFF9B;
background-color:#471400;
margin:0px;
}
div.adminmenu{
font-size:100%;
margin:2% 5% 0% 0%;
text-align:right;
}
span.adminmenu{
}
h1{
color:#FFE600;
background-color:transparent;
font-size:150%;
padding-top:2%;
padding-bottom:1%;
text-align:center;
}
div.calendar{
font-size:90%;
margin:1% 5% 1% 5%;
padding-bottom:1%;
padding-left:1%;
padding-right:1%;
padding-top:1%;
text-align:left;
}
table.calendar{
font-size:90%;
line-height:100%;
border-width:2px;
border-color:#FFE600;
border-style:solid;
background-color:transparent;
margin:3%;
padding:1px;
}
table.calendar td{
margin:0px;
text-align:right;
padding:0px;
margin:0px;
}
table.calendar td.calendar-prev-month,table.calendar td.calendar-current-month,table.calendar td.calendar-next-month{
text-align:center;
}
.headline{
font-size:90%;
margin:1% 1% 1% 1%;
padding:1%;
text-align:left;
}
div.intro{
font-size:90%;
margin:2% 5% 2% 5%;
}
div.day{
margin:5% 15% 8% 15%;
padding:1% 1% 1% 1%;
border:#FFE600 1px solid;
}
h2{
font-size:100%;
margin-top:1%;
padding:0.5% 0.5% 0.5% 0.5%;
border-bottom:#FFE600 1px solid;
}
h2 span.date{
font-size:120%;
font-style:normal;
margin-left:0.5%;
margin-right:1%;
}
h2 span.title{
font-size:120%;
font-style:normal;
}
div.body{
font-size:100%;
margin-bottom:3%;
padding:0 1% 1% 1%;
line-height:1.5;
}
div.section{
margin-top:1%;
margin-bottom:2%;
}
h3{
font-size:120%;
font-weight:bold;
margin-top:3%;
margin-bottom:0.1%;
}
div.day p{
margin-bottom:0.5%;
margin-top:0.5%;
text-indent:1em;
}
div.section p{
padding-top:0.2%;
padding-bottom:0.2%;
}
div.comment{
font-size:90%;
line-height:1.5;
}
div.comment div.caption{
font-size:100%;
padding-left:1%;
border-top:#FFE600 1px solid;
border-bottom:#FFE600 1px solid;
}
div.commentbody{
}
div.comment p{
margin-left:0em! important;
text-indent:0em;
}
span.commnettime{
}
div.referer{
font-size:90%;
border-top:#FFE600 1px solid;
border-bottom:#FFE600 1px solid;
padding-top:0.2%;
padding-right:1%;
padding-bottom:0.2%;
padding-left:1%;
text-align:right;
}
div.refererlist{
border-top:#FFE600 1px solid;
border-bottom:#FFE600 1px solid;
padding-top:1%;
padding-right:1%;
padding-bottom:0.2%;
padding-left:1%;
}
div.refererlist div.caption{
font-size:90%;
border-bottom:#FFE600 1px solid;
}
UL.referer{
margin-top:0em;
}
hr.sep{
display:none;
}
.sfooter{
}
div.footer{
font-size:90%;
margin-right:3%;
padding-bottom:3%;
text-align:right;
}
div.form{
font-size:90%;
line-height:1.5;
margin:2% 1% 3% 1%;
}
div.form form{
text-align:center;
}
div.day imput{
color:#FFFF9B;
background-color:#471400;
}
input.field{
color:#FFFF9B;
background-color:#471400;
border-right:2px solid #FFE600;
border-left:2px solid #FFE600;
border-top:2px solid #FFE600;
border-bottom:2px solid #FFE600;
text-indent:0em ! important;
}
input,select{
text-indent:0em ! important;
}
textarea{
color:#FFFF9B;
background-color:#471400;
font-size:100%;
border-right:2px solid #FFE600;
border-left:2px solid #FFE600;
border-top:2px solid #FFE600;
border-bottom:2px solid #FFE600;
text-indent:0em ! important;
margin-left:auto;
margin-right:auto;
}
p.message{
font-size:100%;
padding-top:8px;
padding-right:8px;
padding-bottom:8px;
padding-left:8px;
text-align:center;
}
pre{
color:#000000;
background-color:#FFFFCC;
font-size:100%;
padding-top:8px;
padding-right:8px;
padding-bottom:8px;
padding-left:8px;
}
div.body dl{
margin-left:2em;
}
div.body dt{
font-weight:bold;
margin-bottom:0.2em;
}
div.body dd{
margin-left:1em;
margin-bottom:0.5em;
}
div.body blockquote{
border:#FFE600 2px solid;
margin:1% 2%;
padding-top:8px;
padding-right:8px;
padding-bottom:8px;
padding-left:8px;
}
div.section blockquote p{
margin-left:0em;
text-indent:0em;
}
em{
color:#000000;
background-color:#FFFFCC;
font-style:normal;
font-weight:bold;
}
strong{
color:#000000;
background-color:#FFB300;
}
.hide{
color:#ffffff;
background-color:#000000;
}
div.commentshort{
margin-left:0.5em;
}
span.commentator{
}
div.commentshort p{
margin-top:0.2em;
margin-bottom:0.2em;
line-height:1.2em;
}
div.commentbody{
margin:0.5em;
line-height:1.2em;
}
div.commentator{
line-height:1.5em;
}
div.commentbody p{
margin:0.5em;
}
div.form form{
margin:2em;
}
div.form div.caption{
margin:0.5em;
text-align:center;
}
div.form form.comment{
}
div.field{
display:inline;
margin-right:2em;
}
form.comment input{
background-color:#471400;
color:#FFFF9B;
}
div.textarea{
display:block;
vertical-align:top;
}
form.comment textarea{
display:block;
background-color:#471400;
color:#FFFF9B;
width:30em;
height:5em;
}
div.button{
display:block;
}
div.day.update{
border-style:none;
}
form.update{
padding-top:0.5em;
padding-bottom:0.5em;
}
form.update input,form.update textarea,form.commentstat input{
background-color:#471400;
color:#FFFF9B;
}
form.update span.field{
display:inline;
margin-left:0em;
margin-right:0.5em;
}
form.update div.field.title{
display:block;
margin-top:1em;
}
form.update div.field.title input{
margin-left:0.5em;
}
form.update div.textarea{
display:block;
margin-top:1em;
}
form.update textarea{
display:block;
margin-bottom:1em;
width:35em;
height:15em;
}
form.update span.checkbox.hidediary{
margin-left:1em;
}
div.day.update div.comment{
text-align:center;
}
div.comment form{
margin-top:0em;
}
