@charset "euc-jp"
body{
background-color:#d5ccbe;
color:#000000;
margin-top:0%;
margin-bottom:0%;
margin-right:0%;
margin-left:0%;
}
a:link{
text-decoration:none;
color:#934968;
}
a:visited{
background-color:transparent;
color:#9996a0;
text-decoration:none;
}
a:hover{
color:#c6638e;
}
a.keyword{
text-decoration:none;
color:#665156;
border-bottom:1px dashed gray;
}
a.keyword:link{
color:#665156;
}
a.keyword:visited{
color:#9996a0;
}
a.keyword:hover{
color:#934968;
background-color:#f7e8d6;
}
h1{
text-align:left;
font-size:155%;
font-weight:100;
letter-spacing:0.5em;
color:#934968;
margin-top:1em;
margin-bottom:0.5em;
margin-right:60px;
margin-left:60px;
border-style:solid;
border-color:#000000;
border-width:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}
div.calendar{
text-align:right;
color:#665156;
margin-top:0.5em;
margin-bottom:0.5em;
line-height:110%;
font-size:80%;
margin-right:60px;
margin-left:60px;
}
div.calendar div.year{
}
div.day{
background-color:#fcf2e8;
color:#665156;
border-style:dotted;
border-color:#7a7293;
border-width:2px 0px 2px 0px;
padding-bottom:0.5em;
margin-right:60px;
margin-left:60px;
margin-bottom:1.5em;
}
h2{
font-size:100%;
font-weight:normal;
margin:12px 10px 0px 10px;
}
h2 span.date{
font-size:120%;
padding:5px 0.25em 0.25em 0.25em;
border-style:solid;
border-color:#7a7293;
border-width:0px 1px 0px 7px;
}
h2 span.title{
font-size:120%;
font-weight:bold;
color:#665156;
padding:5px 0.25em 0.25em 0.25em;
border-style:solid;
border-color:#7a7293;
border-width:0px 1px 0px 1px;
}
div.body{
background-color:#fcf2e8;
color:#665156;
margin:3em 0.5em 0em 5em;
}
div.section{
margin-top:0.75em;
margin-left:0em;
margin-bottom:0em;
}
h3{
font-size:80%;
margin-top:0em;
margin-bottom:0.5em;
}
h4{
margin:2em;
font-weight:bold;
margin-bottom:0em;
}
div.section p{
font-size:90%;
line-height:165%;
margin:0em 0em 0em 0em;
}
div.caption{
font-size:80%;
line-height:150%;
border-style:dotted;
border-color:#7a7293;
border-width:2px 0px 0px 0px;
}
div.comment{
background-color:#fcf2e8;
color:#665156;
padding:0px;
padding-bottom:2px;
margin-top:1em;
margin-left:7em;
margin-right:1em;
}
div.commentshort{
font-size:80%;
}
span.commentator{
font-style:italic;
font-size:120%;
margin-right:0.5em;
}
div.commentshort p{
margin-top:0.2em;
margin-bottom:0.2em;
line-height:140%;
}
div.form{
background-color:#fcf2e8;
color:#665156;
border-style:solid;
border-color:#aaf;
border-width:1px;
padding:2px;
margin:0.5em 1em 0.5em 2em;
}
div.refererlist{
background-color:#fcf2e8;
color:#000000;
padding:2px;
padding-bottom:1px;
margin-top:0.5em;
margin-left:0.5em;
margin-right:1em;
}
div.refererlist ul{
font-size:90%;
margin:0.5em 1em 0.5em 3em;
line-height:120%;
}
hr{
border-style:dashed;
border-width:2px;
border-color:#ffffff;
}
hr.sep{
display:none;
}
div.footer{
text-align:left;
font-size:80%;
color:#665156;
line-height:120%;
margin-top:0px;
margin-right:60px;
margin-left:60px;
}
p.message{
text-align:center;
font-size:large;
background-color:#d00;
color:#fff;
padding:8px;
}
div.section pre{
background-color:#ffffff;
color:#000000;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:1em;
padding:0.25em 1em 0.25em 1em;
}
div.section blockquote{
font-style:italic;
background-color:#fcf2e8;
border-style:dotted;
border-color:#7a7293;
border-width:0px 0px 0px 2px;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:2em;
margin-right:1em;
padding:0em 1em 0em 0.5em;
}
div.section blockquote p{
margin:0em 0em 0em 0em;
}
div.section ul,div.section ol{
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:5em;
margin-right:2em;
padding-left:0px;
font-size:90%;
line-height:130%;
}
div.section ul ul,div.section ol ol{
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:2em;
margin-right:1em;
margin-bottom:0.5em;
}
div.section dl{
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:5em;
font-size:90%;
line-height:130%;
}
div.section dt{
margin-bottom:0.2em;
font-weight:bold;
}
div.section dd{
margin:0em 3em 0.5em 1em;
}
table.calendar{
font-size:x-small;
line-height:120%;
margin-bottom:10px;
}
table.calendar td{
margin:0px;
text-align:right;
padding:0px;
margin:0px;
}
table.calendar td.calendar-prev-month,table.calendar td.calendar-current-month,table.calendar td.calendar-next-month{
text-align:center;
}
p.recentitem{
font-size:70%;
margin-top:0px;
margin-bottom:0px;
}
div.recentsubtitles{
font-size:70%;
line-height:130%;
margin:2px 4px 0px 4px;
}
div.body span.footnote{
vertical-align:super;
font-size:70%;
}
div.footnote{
font-size:70%;
line-height:130%;
padding:0em;
margin-top:1.75em;
margin-left:8em;
margin-right:1em;
}
p.footnote{
margin:0.5em;
padding:0em;
}
img.asin{
float:left;
margin-top:2px;
margin-right:1em;
margin-bottom:4px;
border:0;
}
img.photo{
float:left;
margin-top:2px;
margin-right:1em;
margin-bottom:4px;
border:0;
}
span.highlight{
color:#ffffff;
background-color:#934968;
}
div.main{
margin-right:175px;
}
div.sidebar{
background-color:#f7f4f2;
color:#665156;
position:absolute;
top:80px;
width:170px;
right:20px;
padding:6px 6px 6px 6px;
border-style:dotted;
border-color:#7a7293;
border-width:2px 0px 2px 0px;
}
div.sidebar p{
color:#665156;
line-height:160%;
text-align:left;
font-size:75%;
border-style:dotted;
border-color:#d8ccc4;
border-width:2px 0px 0px 0px;
padding:1px 0px 0px 0px;
margin:10px 0px 0px 0px;
}
