@charset "euc-jp"
a:link{
text-decoration:none;
color:#4A8CAD;
background-color:#fff;
}
a:visited{
text-decoration:none;
color:#4A8CAD;
background-color:#fff;
}
a:active{
color:#ff0;
text-decoration:none;
background-color:#fff;
}
a:hover,a:focus{
color:#ba55d3;
text-decoration:underline;
background-color:#fff;
}
body{
background-color:#fff;
color:#999;
margin-right:0.2em;
margin-left:0.2em;
font-size:100%;
}
p.strong{
font-size:200%;
font-weight:bold;
text-align:center;
color:#0080FF;
background-color:#fff;
}
div.adminmenu{
text-align:right;
font-size:100%;
}
p.message{
text-align:center;
font-size:medium;
background-color:#000;
width:66%;
color:#888;
padding:8px;
}
span.adminmenu{
background-color:transparent;
border-style:none;
border-color:#eee #aaa #aaa #eee;
border-width:1px;
padding:3px;
}
h1{
text-align:center;
}
div.calendar{
background-color:transparent;
border-style:none;
}
div.day{
background-image:url(petith_fbottom.gif);
background-position:left bottom;
background-repeat:no-repeat;
border-style:none;
text-align:right;
padding-left:25px;
;padding-bottom:30px;
padding-top:20px;
padding-right:0px;
margin-right:10%;
margin-left:10%;
font-size:100%;
}
h2{
margin-top:0.1em;
margin-bottom:0.1em;
margin-right:12px;
padding:0em;
text-align:right;
font-size:100%;
}
h2 span.date{
font-size:100%;
margin-left:0.5em;
}
div.body{
background-image:url(petith_ftop.gif);
background-position:right top;
background-repeat:no-repeat;
background-color:transparent;
text-align:left;
padding:1px;
padding-top:60px;
padding-right:30px;
margin-left:auto;
margin-right:10px;
margin-top:12px;
}
div.body p{
padding-left:16px;
line-height:150%;
margin-bottom:0.5em;
margin-top:0.3em;
}
div.section p{
margin-bottom:0.5em;
margin-top:0.3em;
line-height:140%;
}
h3{
margin:0em;
padding:0em;
font-weight:bold;
font-size:medium;
}
div.day span.sanchor{
background-image:url(petith_panchor.gif);
background-position:bottom right;
background-repeat:no-repeat;
padding:14px 18px 0px 0px;
color:#fff;
background-color:transparent;
font-size:1px;
}
div.day span.canchor{
background-image:url(petith_canchor.gif);
background-position:bottom right;
background-repeat:no-repeat;
padding:15px 18px 0px 0px;
color:#fff;
background-color:transparent;
font-size:1px;
}
pre{
background-color:transparent;
color:#999;
margin-left:1em;
margin-right:1em;
padding:8px 8px 8px 8px;
border-color:#2266aa;
border-style:dotted;
border-width:1px;
}
div.comment{
font-size:100%;
text-align:left;
background-color:transparent;
padding:2px;
padding-bottom:0px;
padding-left:0px;
margin:0em;
margin-right:auto;
margin-left:6px;
margin-right:50px;
}
div.comment p{
padding-left:1em;
}
div.comment div.caption{
text-align:right;
}
div.refererlist div.caption{
border-style:solid;
border-color:#aaa;
border-width:0px 0px 1px 0px;
}
div.referer{
text-align:right;
font-size:100%;
background-color:transparent;
padding:2px;
padding-bottom:1px;
margin-right:50px;
}
div.refererlist{
font-size:100%;
text-align:left;
background-color:transparent;
padding:2px;
padding-bottom:1px;
width:66%;
margin-top:0.5em;
clear:both;
}
div.refererlist ul{
margin-top:0em;
}
hr{
border-style:solid;
border-width:1px 0px 0px 0px;
border-color:#ddd;
}
hr.sep{
display:none;
}
div.footer{
font-size:100%;
text-align:right;
height:32px;
}
div.form{
background-color:transparent;
padding:0.5em 1em 0.5em 1em;
margin-bottom:0.5em;
margin-left:0%;
width:80%;
text-align:left;
}
div.form form{
width:90%;
}
input.field{
background-color:#fff;
color:#000;
}
input{
clear:left;
}
textarea{
background-color:#fff;
color:#000;
margin-left:1em;
width:80%;
}
div.body dl{
margin-left:2em;
}
div.body dt{
margin-bottom:0.2em;
font-weight:bold;
}
div.body dd{
margin-left:1em;
margin-bottom:0.5em;
}
.hide{
color:#999;
background-color:#fff;
}
div.commentshort{
margin-left:0.5em;
}
span.commentator{
}
div.commentshort p{
margin-top:0.2em;
margin-bottom:0.2em;
line-height:1.2em;
}
div.commentbody{
margin:0.5em;
line-height:1.2em;
}
div.commentator{
line-height:1.5em;
}
div.commentbody p{
margin:0.5em;
}
div.form form{
margin:0em;
}
div.form div.caption{
margin:0.5em;
}
div.form form.comment{
}
div.field{
display:inline;
}
form.comment input{
background-color:#fff;
color:#000;
margin-left:1em;
}
div.textarea{
display:block;
vertical-align:top;
}
form.comment textarea{
display:block;
background-color:#fff;
color:#000;
width:30em;
height:5em;
}
div.button{
display:block;
}
form.update{
padding-top:0.5em;
padding-bottom:0.5em;
}
form.update input,form.update textarea,form.commentstat input{
background-color:#fff;
color:#000;
}
form.update span.field{
display:inline;
margin-left:0em;
margin-right:0.5em;
}
form.update div.field.title{
display:block;
margin-top:1em;
}
form.update div.field.title input{
margin-left:0.5em;
}
form.update div.textarea{
display:block;
margin-top:1em;
}
form.update textarea{
display:block;
margin-bottom:1em;
width:35em;
height:15em;
}
form.update span.checkbox.hidediary{
margin-left:1em;
}
div.comment form{
margin-top:0em;
}
