@charset "utf-8"
body{
background-color:#fff;
color:#222;
}
a:link{
background-color:transparent;
color:#19c;
text-decoration:none;
}
a:visited{
background-color:transparent;
color:#19c;
text-decoration:none;
}
a:hover{
text-decoration:underline;
}
div.adminmenu{
background-color:#F8FCFF;
color:#222;
text-align:right;
font-size:90%;
}
span.adminmenu{
background-color:transparent;
border-style:solid;
border-color:#ffffff #B8E8FF #B8E8FF #ffffff;
border-width:1px;
padding-right:0.5em;
}
h1{
text-align:right;
background-color:#fff;
color:#48C0F0;
border-color:#B8E8FF;
border-style:solid;
border-width:0px 0px 8px 0px;
}
div.calendar{
text-align:right;
letter-spacing:0.8em;
background-color:#fff;
color:#222;
border-style:solid;
border-color:#B8E8FF;
border-width:0px 0px 3px 0px;
padding:2px;
margin-bottom:0.5em;
line-height:110%;
font-size:90%;
}
div.calendar div.year{
}
div.day{
background-color:#fff;
color:#000;
border-style:solid;
border-color:#48C0F0;
border-width:1px;
padding-bottom:0.5em;
margin-top:1em;
background-image:url(light-blue_back2.gif);
background-position:bottom;
background-repeat:repeat-x;
}
h2{
margin-top:0px;
background-image:url(light-blue_back.gif);
background-position:top;
background-repeat:repeat-x;
padding:0.8em 0em 0em 0em;
}
h2 span.date{
margin:0em 0em 0.1em 0.5em;
font-size:medium;
}
h2 span.title{
margin:0em 0em 0em 0.5em;
font-size:large;
}
div.body{
background-color:#fff;
color:#222;
margin-top:-1em;
margin-left:2em;
margin-right:1em;
}
div.section{
margin-top:0.7em;
margin-bottom:0.7em;
}
h3{
font-size:medium;
margin:0em;
font-weight:bold;
}
h4{
margin:2em;
font-weight:bold;
margin-bottom:0em;
}
div.day span.sanchor{
background-image:url(light-blue_anchor.gif);
background-position:bottom right;
background-repeat:no-repeat;
padding:14px 13px 0px 0px;
color:#fff;
background-color:transparent;
font-size:1px;
}
div.day span.canchor{
background-image:url(light-blue_anchor2.gif);
background-position:bottom right;
background-repeat:no-repeat;
padding:10px 11px 0px 0px;
color:#fff;
background-color:transparent;
font-size:1px;
}
div.section p{
margin:0.5em 1em 0.7em 0em;
line-height:140%;
}
ul,ol{
margin-left:0em;
padding-left:0em;
}
div.caption{
font-size:90%;
margin:0.5em;
}
div.comment{
background-color:#fff;
color:#222;
border-style:solid;
border-color:#48C0F0;
border-width:1px 0px 1px 0px;
padding-bottom:1px;
margin:0.5em 1em 0em 2em;
}
div.commentshort{
font-size:90%;
margin-left:0.2em;
}
span.commentator{
font-weight:bold;
}
div.commentshort p{
margin-top:0.2em;
margin-bottom:0.2em;
line-height:120%;
}
div.commentbody{
font-size:90%;
margin:0.2em;
line-height:120%;
}
div.commentator{
line-height:150%;
}
div.commentbody p{
margin:0.5em;
margin-left:2em;
}
div.form{
background-color:#fff;
color:#000;
border-style:solid;
border-color:#48C0F0;
border-width:1px;
padding:2px;
margin:0.5em 1em 0.5em 2em;
}
div.form form{
margin:0em 0em 0em 2em;
}
div.form form.comment{
font-size:90%;
}
div.field{
display:inline;
margin-right:2em;
}
form.comment input{
background-color:#F8FCFF;
color:#222;
margin-left:1em;
}
div.textarea{
display:block;
vertical-align:top;
}
form.comment textarea{
display:block;
background-color:#F8FCFF;
color:#000;
margin-left:3em;
width:30em;
height:5em;
}
div.button{
display:block;
margin-left:3em;
}
div.referer{
text-align:right;
font-size:90%;
padding:0.4em 1em 1em 1em;
line-height:1em;
}
div.refererlist{
background-color:#fff;
color:#000;
border-style:solid;
border-color:#48C0F0;
border-width:1px;
padding:2px;
padding-bottom:1px;
margin:0.5em 1em 2em 2em;
}
div.refererlist ul{
font-size:90%;
margin:0.5em 1em 0.5em 3em;
line-height:120%;
}
hr{
border-style:solid;
border-width:2px 0px 0px 0px;
border-color:#B8E8FF;
}
hr.sep{
display:none;
}
div.footer{
font-size:80%;
text-align:right;
margin-top:2px;
}
form.update{
padding-top:0.5em;
padding-bottom:0.5em;
}
form.update input,form.update textarea,form.commentstat input{
background-color:#F8FCFF;
color:#222;
}
form.update span.field{
display:inline;
margin-left:0em;
margin-right:0.5em;
}
form.update div.field.title{
display:block;
margin-top:1em;
}
form.update div.field.title input{
margin-left:0.5em;
}
form.update div.textarea{
display:block;
margin-top:1em;
}
form.update textarea{
display:block;
margin-left:3em;
margin-bottom:1em;
width:35em;
height:15em;
}
form.update span.checkbox.hidediary{
margin-left:1em;
}
div.comment form{
margin-top:0em;
}
p.message{
text-align:center;
font-size:large;
background-color:#d00;
color:#fff;
padding:8px;
}
pre{
border-style:solid;
border-color:#B8E8FF;
background-color:#ffffff;
color:#222;
margin-left:5em;
margin-right:1em;
padding:8px 8px 8px 8px;
border-width:2px 2px 2px 2px;
}
div.body blockquote{
border-style:solid;
border-color:#B8E8FF;
border-width:2px 2px 2px 2px;
margin-left:4em;
margin-right:3em;
padding:4px 4px 4px 4px;
}
div.body blockquote p{
margin:0.5em 0em 0.5em 0em;
}
div.body ul,div.body ol{
margin-left:6em;
margin-right:3em;
}
div.body dl{
margin-left:5em;
}
div.body dt{
margin-bottom:0.2em;
font-weight:bold;
}
div.body dd{
margin:0em 3em 0.5em 1em;
}
table.calendar{
font-size:80%;
line-height:110%;
border-style:solid;
border-color:#B8E8FF;
border-width:1px;
margin-left:1em;
}
table.calendar td{
margin:0px;
text-align:center;
padding:0 3px 0 3px;
}
table.calendar td.calendar-prev-month,table.calendar td.calendar-current-month,table.calendar td.calendar-next-month,table.calendar td.calendar-day{
text-align:center;
background-color:#F8FCFF;
color:#222;
}
td.calendar-sunday{
color:red;
background-color:#fbb;
}
td.calendar-saturday{
background-color:#bbf;
color:blue;
}
td.calendar-weekday{
background-color:#B8E8FF;
color:#222;
}
div.calendar3{
font-size:90%;
line-height:120%;
padding:2px;
text-align:right;
}
.calendar-popup{
background-color:#F8FCFF;
color:#222;
display:none;
position:absolute;
padding:4px;
text-align:left;
border-color:#B8E8FF;
border-width:0 1px 1px 0;
border-style:solid;
}
.calendar-day a{
font-weight:normal;
background-color:#F8FCFF;
color:#19c;
}
.calendar-sunday{
color:#f00;
background-color:transparent;
}
.calendar-saturday{
color:#00f;
background-color:transparent;
}
.calendar-weekday{
color:#222;
background-color:transparent;
}
.calendar-todo{
border-style:solid;
border-color:#1E90FF;
border-width:1px;
}
p.recentitem{
font-size:90%;
margin-top:0px;
margin-bottom:0px;
margin-left:1em;
}
div.recentsubtitles{
font-size:90%;
margin-top:0px;
margin-bottom:1em;
margin-left:1em;
}
div.body span.footnote{
vertical-align:super;
font-size:70%;
}
div.footnote{
font-size:90%;
border-style:solid;
border-color:#ddf;
border-width:1px 0px 0px 0px;
padding:0em;
margin-left:6em;
}
p.footnote{
margin:0.5em;
padding:0em;
}
img.left{
border-width:1px;
border-color:#008;
float:left;
margin:0.5em;
}
img.right{
border-width:1px;
border-color:#008;
float:right;
margin:0.5em;
}
div.section,div.comment{
clear:both;
}
div.main{
margin-left:25%;
}
div.sidebar{
background-color:#F8FCFF;
color:#000;
position:absolute;
top:0px;
left:0px;
width:24%;
padding:0px 0px 100% 0px;
border-style:solid;
border-color:#B8E8FF;
border-width:0px 3px 3px 0px;
padding-top:0px;
}
div.sidebar p{
color:#1094C8;
font-weight:bold;
background-color:#B8E8FF;
line-height:120%;
text-align:center;
margin:2px 4px 2px 4px;
}
