@charset "utf-8"
body{
margin:0px;
padding:0px;
text-align:center;
width:auto;
background:#fff url(head.gif) top center repeat-x;
color:#666;
font-family:"Verdana","ＭＳ Ｐゴシック","Osaka",sans-serif;
}
h1{
font-size:160%;
width:750px;
margin:0px auto;
padding:50px 0px;
text-indent:20px;
text-align:left;
color:#FFF;
}
h1 a{
color:#FFF;
}
h1 a:link{
color:#FFF;
}
h1 a:visited{
color:#FFF;
}
body{
width:750px;
margin:70px auto 0px auto;
padding:5px 0px;
text-align:left;
}
div.main{
width:520px;
margin:0px;
padding:0px;
text-align:left;
float:left;
}
div.sidebar{
width:200px;
margin-top:50px;
padding:0px;
float:right;
}
img{
border:0px;
}
div.calendar{
text-align:left;
padding:5px;
font-size:90%;
}
div.calendar a{
}
div.calendar a:hover{
text-decoration:underline;
}
div.day{
padding-bottom:1px;
margin-top:20px;
line-height:150%;
}
h2{
font-size:120%;
padding:3px 3px 1px 3px;
margin:2px;
margin:0px;
border-bottom:1px solid #666;
}
h2 a{
color:#666;
}
h2 a:link{
color:#666;
}
h2 a:visited{
color:#666;
}
h2 a .date{
padding-right:5px;
}
h2 a.edit{
font-size:70%;
text-decoration:underline;
}
div.body{
padding:0px;
margin:0px 0px 0px 3px;
}
div.section{
padding:10px;
margin:3px;
line-height:150%;
}
div.section p{
padding:0px;
margin:5px;
}
.footnote{
font-size:90%;
margin-left:5px;
}
div.section p.sectionfooter{
text-align:right;
margin-top:1em;
}
div.comment{
padding:5px;
margin:5px;
font-size:90%;
border:1px solid #ddd;
}
div.refererlist{
padding:5px;
margin:5px;
font-size:90%;
border:1px solid #ddd;
}
div.caption{
padding:3px;
margin-bottom:3px;
}
div.commentshort{
padding:0px;
margin:0px;
}
div.commentshort p{
padding:0px;
margin:1px 5px;
}
div.commentshort textarea{
width:350px;
}
div.hatena-module{
padding:0px;
margin:0px 0px 10px 0px;
}
div.hatena-moduletitle{
font-size:90%;
padding:5px 5px 5px 5px;
margin:0px;
color:#666;
border-bottom:1px solid #666;
}
div.hatena-moduletitle a{
color:#666;
}
div.hatena-moduletitle a:visited{
color:#666;
}
.hatena-modulebody{
padding:5px;
font-size:90%;
}
table.calendar{
text-align:center;
width:185px;
font-size:90%;
}
td.calendar-sunday{
}
td.calendar-saturday{
}
td.calendar-day img{
width:15px;
height:15px;
border:1px solid #CCCCCC;
}
.hatena-modulebody ul{
padding:0px;
margin:0px;
list-style-type:none;
}
.hatena-modulebody ul li{
padding:5px 5px 5px 5px;
margin:0px;
}
.hatena-modulebody ul li a{
text-decoration:underline;
}
h3{
font-size:100%;
margin:5px 10px 5px 0px;
}
div.day span.sanchor{
padding:20px 0px 10px 0px;
}
h4{
font-size:100%;
margin-left:10px;
padding:2px 5px 2px 7px;
border-left:5px solid #666;
}
a{
color:#095894;
text-decoration:none;
word-break:break-all;
}
a:link{
color:#095894;
text-decoration:none;
word-break:break-all;
}
a:visited{
color:#487FA9;
text-decoration:none;
word-break:break-all;
}
a:hover{
color:#0B8CEE;
text-decoration:underline;
word-break:break-all;
}
a,a:link,a:visited,a:hover,{
word-break:break-all;
word-wrap:break-word;
}
a.keyword{
color:#666;
border-bottom:1px solid #ddd;
}
a.keyword:link{
color:#666;
border-bottom:1px solid #ddd;
}
a.keyword:visited{
color:#666;
border-bottom:1px solid #ddd;
}
a.keyword:hover{
text-decoration:none;
color:#666;
}
a.okeyword:hover{
color:#666;
text-decoration:none;
}
a.okeyword{
color:#666;
border-bottom:1px solid #ddd;
}
div.section pre{
padding:5px;
background:#DDD;
font-size:90%;
}
div.section blockquote{
padding-left:5px;
border-left:5px solid #666;
}
div.section ul li{
}
div.day img.photo{
float:right;
margin:5px;
}
ul.hatena-photo li{
margin:3px;
padding:1px;
margin:0px;
}
img.hatena-fotolife{
}
.hatena-searchform{
margin:5px;
padding:0px;
}
div.adminmenu{
text-align:right;
font-size:90%;
margin:10px;
}
span.adminmenu a{
padding-left:10px;
padding-right:7px;
color:#fff;
border-left:1px solid #CCCCCC;
}
span.adminmenu a:visited{
color:#fff;
}
.hatena-rss{
}
div.hatena-asin-detail{
margin:3px;
padding:3px;
font-size:90%;
}
.hatena-asin-detail-info{
margin:5px;
}
.hatena-asin-detail-info ul{
list-style:none;
margin:0px;
padding:0px;
}
.hatena-asin-detail-image{
float:left;
margin-right:5px;
}
.hatena-asin-detail-title{
margin:5px;
font-weight:bold;
}
.hatena-asin-detail-foot{
clear:both;
}
.footer{
clear:both;
margin:5px;
font-size:90%;
}
.ad{
}
.hatena-clock{
}
.hatena-question-detail{
width:90%;
text-align:left;
font-size:90%;
border-top:1px solid #ddd;
border-bottom:1px solid #ddd;
}
.hatena-question-detail-title{
padding:5px;
}
.hatena-question-detail-label{
width:30%;
padding:5px;
border-top:1px dashed #ddd;
}
.hatena-question-detail-value{
width:65%;
padding:5px;
border-top:1px dashed #ddd;
}
.hatena-profile{
}
.hatena-profile-image{
}
.hatena-profile-id{
}
.hatena-profile-body{
}
hr.sep{
display:none;
}
